## Dissertation Dataset Exploration (v2)
### Gavin Rolls

I've queried OSM data using different building type indicators. I'll give some additional modelling/exploration a try here

## Imports and Clean Up

In [5]:
# Library Imports

#Basics
import pandas as pd
import geopandas as gpd
import numpy as np

#Shapely
from shapely import wkt
import shapely.geometry
from shapely.geometry import Polygon, MultiPolygon

#Plots and Stats
import matplotlib.pyplot as plt
import seaborn as sns

#Machine Learning
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.preprocessing import OneHotEncoder

#ML from mljar-supervised
from supervised.automl import AutoML

#Warning Supression
import warnings

In [7]:
# Import Cleaned Employment Geography File (Version 2)

empl_geog = gpd.read_file('data/combined_data_v2/empl_geog.geojson')

# WKT strings back to Shapely geometries
empl_geog['building_poly'] = empl_geog['building_poly'].apply(lambda x: shapely.wkt.loads(x) if isinstance(x, str) else x)
empl_geog['commercial_building_poly'] = empl_geog['commercial_building_poly'].apply(lambda x: shapely.wkt.loads(x) if isinstance(x, str) else x)
empl_geog['retail_building_poly'] = empl_geog['retail_building_poly'].apply(lambda x: shapely.wkt.loads(x) if isinstance(x, str) else x)
empl_geog['office_building_poly'] = empl_geog['office_building_poly'].apply(lambda x: shapely.wkt.loads(x) if isinstance(x, str) else x)
empl_geog['residential_building_poly'] = empl_geog['residential_building_poly'].apply(lambda x: shapely.wkt.loads(x) if isinstance(x, str) else x)

empl_geog['place_points'] = empl_geog['place_points'].apply(lambda x: shapely.wkt.loads(x) if isinstance(x, str) else x)
# Convert string representations of lists back to lists
empl_geog['category_list'] = empl_geog['category_list'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

empl_geog.head()

,LSOA11CD,LSOA11NM_x,population,Area,"01 : Crop and animal production, hunting and related service activities",02 : Forestry and logging,03 : Fishing and aquaculture,05 : Mining of coal and lignite,06 : Extraction of crude petroleum and natural gas,07 : Mining of metal ores,...,num_office_buildings,num_places,building_poly,commercial_building_poly,retail_building_poly,office_building_poly,residential_building_poly,place_points,category_list,geometry
0,E01000001,City of London 001A,1465,lsoa2011:E01000001 : City of London 001A,0,0,0,0,10,0,...,0,243,"MULTIPOLYGON (((-0.0983297 51.5158158, -0.0983...","MULTIPOLYGON (((-0.0966079 51.5147477, -0.0967...","MULTIPOLYGON (((-0.098412 51.5155493, -0.09835...",None,"MULTIPOLYGON (((-0.0980623 51.5182674, -0.0983...","MULTIPOINT ((-0.0987982 51.5176724), (-0.09860...","[pub, coffee_shop, immigration_law, shared_off...","POLYGON ((-0.09729 51.52158, -0.09652 51.52027..."
1,E01000002,City of London 001B,1436,lsoa2011:E01000002 : City of London 001B,0,0,0,0,0,0,...,0,419,"MULTIPOLYGON (((-0.0945314 51.5147658, -0.0944...","MULTIPOLYGON (((-0.0951296 51.5145545, -0.0951...","MULTIPOLYGON (((-0.0940575 51.5145934, -0.0940...",None,"MULTIPOLYGON (((-0.0936221 51.5181541, -0.0946...","MULTIPOINT ((-0.0958288 51.5168656), (-0.09565...","[business_manufacturing_and_supply, education,...","POLYGON ((-0.08813 51.51941, -0.08929 51.51752..."
2,E01000003,City of London 001C,1346,lsoa2011:E01000003 : City of London 001C,0,0,0,0,0,0,...,0,55,"MULTIPOLYGON (((-0.0959637 51.5209148, -0.0959...",None,"POLYGON ((-0.0959633 51.5209414, -0.0955256 51...",None,"MULTIPOLYGON (((-0.0959637 51.5209148, -0.0959...","MULTIPOINT ((-0.0976057 51.5226912), (-0.09757...","[health_and_medical, hospital, parking, indust...","POLYGON ((-0.09679 51.52325, -0.09647 51.52282..."
3,E01000005,City of London 001E,985,lsoa2011:E01000005 : City of London 001E,0,10,0,0,0,0,...,0,534,"MULTIPOLYGON (((-0.0757822 51.511071, -0.07577...","MULTIPOLYGON (((-0.0752739 51.5111313, -0.0754...","MULTIPOLYGON (((-0.0779263 51.5147252, -0.0780...","POLYGON ((-0.0731987 51.5118923, -0.0731919 51...",None,"MULTIPOINT ((-0.0799241 51.5156172), (-0.07992...","[professional_services, dance_club, insurance_...","POLYGON ((-0.07323 51.51000, -0.07553 51.50974..."
4,E01000006,Barking and Dagenham 016A,1703,lsoa2011:E01000006 : Barking and Dagenham 016A,0,0,0,0,0,0,...,0,11,"MULTIPOLYGON (((0.085895 51.5386732, 0.0859413...",None,None,None,None,"MULTIPOINT ((0.0856198 51.538706), (0.0858424 ...","[landmark_and_historical_building, constructio...","POLYGON ((0.09115 51.53909, 0.09326 51.53787, ..."

In [8]:
# Import Category Encoded File (POIs)

encoded_categories = pd.read_csv('data/combined_data/empl_geog_category_encoded.csv')

#Drop extraneous column
encoded_categories = encoded_categories.drop(columns=['Unnamed: 0'])

#Store category columns
category_columns = encoded_categories.columns[1:]

encoded_categories.head()

,LSOA11CD,category_list_3d_printing_service,category_list_abortion_clinic,category_list_abuse_and_addiction_treatment,category_list_accommodation,category_list_accountant,category_list_acoustical_consultant,category_list_active_life,category_list_acupuncture,category_list_addiction_rehabilitation_center,...,category_list_women's_clothing_store,category_list_women's_health_clinic,category_list_wood_and_pulp,category_list_woodworking_supply_store,category_list_writing_service,category_list_yoga_instructor,category_list_yoga_studio,category_list_youth_organizations,category_list_zoo,category_list_None
0,E01000001,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,E01000002,0.0,0.0,0.0,1.0,5.0,0.0,0.0,1.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,E01000003,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,E01000005,0.0,0.0,0.0,1.0,2.0,0.0,2.0,1.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,E01000006,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# Geometric Features Extraction (copied from earlier but includes building types now)

#I'm going to exclude num polygons, average perimeter, and total perimeter cause they're not so helpful (cause Collinearity matrix shows its very close to count)

def extract_multipolygon_features(multipolygon, lsoa_geometry):
    if isinstance(multipolygon, MultiPolygon):
        polygons = list(multipolygon.geoms)
    elif isinstance(multipolygon, Polygon):
        polygons = [multipolygon]
    else:
        return pd.Series({
            'total_area': 0,
            'avg_building_area': 0,
            'lsoa_area_ratio': 0,
        })

    num_polygons = len(polygons)
    areas = [polygon.area for polygon in polygons]
    total_area = sum(areas)
    avg_building_area = total_area / num_polygons if num_polygons > 0 else 0

    #Built-up area ratio could result in a div by zero error if there are no buildings in an LSOA so this logic has to be included here
    try:
        lsoa_area_ratio = total_area / lsoa_geometry.area
    except ZeroDivisionError:
        lsoa_area_ratio = 0

    return pd.Series({
        'total_area': total_area,
        'lsoa_area_ratio': lsoa_area_ratio,
        'avg_building_area': avg_building_area,
    })

In [10]:
# All Buildings
all_buildings_geometry_features = empl_geog.apply(
    lambda row: extract_multipolygon_features(row['building_poly'], row['geometry']),
    axis=1
).add_prefix('all_')

# Residential
residential_buildings_geometry_features = empl_geog.apply(
    lambda row: extract_multipolygon_features(row['residential_building_poly'], row['geometry']),
    axis=1
).add_prefix('residential_')

# Commercial
commercial_buildings_geometry_features = empl_geog.apply(
    lambda row: extract_multipolygon_features(row['commercial_building_poly'], row['geometry']),
    axis=1
).add_prefix('commercial_')

# Office
office_buildings_geometry_features = empl_geog.apply(
    lambda row: extract_multipolygon_features(row['office_building_poly'], row['geometry']),
    axis=1
).add_prefix('office_')

# Retail
retail_buildings_geometry_features = empl_geog.apply(
    lambda row: extract_multipolygon_features(row['retail_building_poly'], row['geometry']),
    axis=1
).add_prefix('retail_')

# Combine all geometry features into one DataFrame
all_geom_features = pd.concat([
    all_buildings_geometry_features,
    residential_buildings_geometry_features,
    commercial_buildings_geometry_features,
    office_buildings_geometry_features,
    retail_buildings_geometry_features
], axis=1, ignore_index=False)

# Capture Column Names
geo_features = all_geom_features.columns

# Display the first 50 rows
all_geom_features.head(50)

,all_avg_building_area,all_lsoa_area_ratio,all_total_area,residential_avg_building_area,residential_lsoa_area_ratio,residential_total_area,commercial_avg_building_area,commercial_lsoa_area_ratio,commercial_total_area,office_avg_building_area,office_lsoa_area_ratio,office_total_area,retail_avg_building_area,retail_lsoa_area_ratio,retail_total_area
0,6.954275e-07,0.966502,1.669026e-05,1.142252e-07,0.026458,4.569009e-07,2.656669e-07,0.076921,1.328335e-06,0.000000e+00,0.000000,0.000000e+00,2.200346e-07,0.101934,1.760277e-06
1,4.409557e-07,0.722431,2.116588e-05,1.405123e-07,0.014388,4.215369e-07,2.245372e-07,0.099630,2.918983e-06,0.000000e+00,0.000000,0.000000e+00,4.283602e-07,0.131587,3.855242e-06
2,7.602040e-07,1.126545,8.362244e-06,1.051174e-07,0.056645,4.204698e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,1.375725e-07,0.018533,1.375725e-07
3,2.474802e-07,0.540976,1.336393e-05,0.000000e+00,0.000000,0.000000e+00,3.214321e-07,0.065058,1.607160e-06,2.773609e-08,0.001123,2.773609e-08,3.156538e-07,0.127778,3.156538e-06
4,1.598686e-07,0.179683,3.357240e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
5,7.216192e-08,0.275445,7.071869e-06,4.436179e-08,0.006911,1.774472e-07,0.000000e+00,0.000000,0.000000e+00,2.032864e-07,0.007918,2.032864e-07,5.505318e-08,0.004289,1.101064e-07
6,1.221800e-07,0.209613,5.253740e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,2.351580e-07,0.009382,2.351580e-07,2.354605e-08,0.000939,2.354605e-08
7,8.681309e-08,0.317807,5.295598e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,5.894408e-08,0.021225,3.536645e-07,0.000000e+00,0.000000,0.000000e+00
8,1.452742e-07,0.298902,1.351050e-05,5.623035e-08,0.007464,3.373821e-07,6.004655e-08,0.002657,1.200931e-07,1.248022e-07,0.057983,2.620846e-06,8.596902e-08,0.009510,4.298451e-07
9,1.955352e-08,0.243971,2.854813e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
10,4.539478e-08,0.222131,4.040135e-06,7.558324e-08,0.004156,7.558324e-08,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
11,8.888748e-08,0.049319,1.333312e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,1.026737e-08,0.000760,2.053475e-08,0.000000e+00,0.000000,0.000000e+00
12,4.051224e-08,0.018381,8.102449e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
13,1.400482e-07,0.019299,7.002412e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
14,1.464801e-07,0.086441,2.197201e-06,3.532913e-08,0.009729,2.473039e-07,0.000000e+00,0.000000,0.000000e+00,2.903928e-08,0.002285,5.807856e-08,0.000000e+00,0.000000,0.000000e+00
15,4.139675e-08,0.009933,2.069837e-07,3.530596e-08,0.001694,3.530596e-08,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
16,4.519586e-08,0.036182,8.135255e-07,2.559135e-08,0.018211,4.094617e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
17,7.833075e-08,0.016618,3.916538e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,5.664590e-08,0.002403,5.664590e-08,0.000000e+00,0.000000,0.000000e+00
18,2.805109e-08,0.029863,7.293284e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,5.664590e-08,0.002319,5.664590e-08,0.000000e+00,0.000000,0.000000e+00
19,8.056909e-08,0.039904,8.862600e-07,2.687728e-08,0.002420,5.375456e-08,0.000000e+00,0.000000,0.000000e+00,8.270585e-08,0.037238,8.270585e-07,0.000000e+00,0.000000,0.000000e+00
20,3.751226e-08,0.018038,3.000981e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
21,9.339585e-08,0.158716,4.389605e-06,1.570060e-07,0.062446,1.727066e-06,0.000000e+00,0.000000,0.000000e+00,1.167530e-07,0.016886,4.670118e-07,0.000000e+00,0.000000,0.000000e+00
22,2.751180e-08,0.031526,5.227243e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
23,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
24,7.926119e-08,0.009071,1.743746e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,1.055369e-07,0.000549,1.055369e-07,0.000000e+00,0.000000,0.000000e+00
25,3.227424e-07,0.016913,3.227424e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
26,1.152769e-07,0.014053,4.611075e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
27,8.790326e-08,0.016731,6.153228e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
28,3.313417e-07,0.015144,1.656709e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
29,4.478330e-07,0.018212,8.956659e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
30,5.138271e-08,0.008330,1.541481e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
31,1.370684e-07,0.030803,2.056025e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
32,2.413002e-07,0.184120,9.410709e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,2.099570e-08,0.003286,1.679656e-07,0.000000e+00,0.000000,0.000000e+00
33,2.361942e-07,0.135696,7.558214e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
34,1.671035e-07,0.027136,8.355173e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
35,8.075298e-08,0.017604,4.845179e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
36,7.257080e-08,0.003671,7.257080e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
37,5.822143e-08,0.127404,2.794628e-06,3.175585e-08,0.017373,3.810702e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
38,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
39,9.367282e-08,0.012465,3.746913e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
40,1.943934e-07,0.090484,3.110294e-06,1.035859e-07,0.003013,1.035859e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
41,4.520669e-08,0.157970,3.571329e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
42,8.436428e-08,0.084766,3.290207e-06,6.010011e-08,0.006193,2.404004e-07,0.000000e+00,0.000000,0.000000e+00,2.608227e-08,0.000672,2.608227e-08,0.000000e+00,0.000000,0.000000e+00
43,1.392473e-07,0.027369,5.569891e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
44,1.502956e-07,0.235502,1.953843e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
45,8.211831e-08,0.216649,5.994637e-06,0.000000e+00,0.000000,0.000000e+00,4.900771e-07,0.123981,3.430540e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
46,7.966032e-08,0.333759,5.974524e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
47,1.089592e-07,0.332321,2.832940e-06,1.077437e-07,0.012639,1.077437e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
48,2.744042e-08,0.160516,4.170944e-06,2.669506e-08,0.034930,9.076320e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
49,4.964996e-08,0.148487,3.425847e-06,1.862922e-07,0.008074,1.862922e-07,0.000000e+00,0.000000,0.000000e+00,5.513013e-08,0.014337,3.307808e-07,0.000000e+00,0.000000,0.000000e+00

In [11]:
# Combine Datasets

data_with_geom = pd.concat([empl_geog, all_geom_features], axis=1)
all_data = pd.concat([data_with_geom, encoded_categories], axis=1)

all_data.head()

,LSOA11CD,LSOA11NM_x,population,Area,"01 : Crop and animal production, hunting and related service activities",02 : Forestry and logging,03 : Fishing and aquaculture,05 : Mining of coal and lignite,06 : Extraction of crude petroleum and natural gas,07 : Mining of metal ores,...,category_list_women's_clothing_store,category_list_women's_health_clinic,category_list_wood_and_pulp,category_list_woodworking_supply_store,category_list_writing_service,category_list_yoga_instructor,category_list_yoga_studio,category_list_youth_organizations,category_list_zoo,category_list_None
0,E01000001,City of London 001A,1465,lsoa2011:E01000001 : City of London 001A,0,0,0,0,10,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,E01000002,City of London 001B,1436,lsoa2011:E01000002 : City of London 001B,0,0,0,0,0,0,...,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,E01000003,City of London 001C,1346,lsoa2011:E01000003 : City of London 001C,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,E01000005,City of London 001E,985,lsoa2011:E01000005 : City of London 001E,0,10,0,0,0,0,...,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,E01000006,Barking and Dagenham 016A,1703,lsoa2011:E01000006 : Barking and Dagenham 016A,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Test AutoML with new Data

In [72]:
# create training and testing data
features = ['num_buildings', 'num_places', 'population'] + list(geo_features) + list(category_columns)
target = 'total_employment'

# Split the dataset - 80/20 train test
X_train, X_test, y_train, y_test = train_test_split(all_data[features], all_data[target], test_size=0.2, random_state=3)

# Save results and fit
automl = AutoML(results_path="automl_results_v2/basic_building_categories/", mode='Explain')
# fit the model
automl.fit(X_train, y_train)

predictions = automl.predict(X_test)
r2 = r2_score(y_test, predictions)
rmse = np.sqrt(mean_squared_error(y_test, predictions))

print(f'R^2 Score: {r2}')
print(f'RMSE: {rmse}')


#Save results for plotting
predictions_all = automl.predict(all_data[features])
geometries = all_data_cleaned.loc[all_data[target].index, 'geometry']

results_basic_building = pd.DataFrame({
    'geometry': geometries,
    'observed': all_data[target],
    'predicted': predictions_all,
})

Linear algorithm was disabled.
This model has already been fitted. You can use predict methods or select a new 'results_path' for a new 'fit()'.
R^2 Score: 0.9269816521936477
RMSE: 847.792421080705

## Filter POIs and Collapse Categories

In [12]:
# This work is currently storedin DataExploration.ipynb - some adaptation will be needed to migrate things over

all_places = gpd.read_file('data/overture_data/london_places_overture.geojson')
all_places.head()

,name,category,confidence,geometry
0,The Heating Professionals,hvac_services,0.77,POINT (-0.50991 51.28709)
1,Hub Property Care,plumbing,0.77,POINT (-0.50991 51.28709)
2,F & S,plumbing,0.72,POINT (-0.50911 51.28766)
3,Hookins Accountants,accountant,0.75,POINT (-0.50881 51.28878)
4,Muddy Paws Grooming Service,pet_groomer,0.55,POINT (-0.50741 51.28859)

In [13]:
#Filter to quality places only
quality_places = all_places[all_places['confidence'] >= 0.6]

In [15]:
#Also copied from original DataExploration file

#Dealing with filter warnings for empty geometries in particular LSOAs
warnings.filterwarnings("ignore", category=FutureWarning)

# Generating a version of empl_geog that has only quality places - I'm using my data_with_geom file as a starting point
empl_geog_quality_places = data_with_geom

#Copy back quality places using logic from DataCleaning.ipynb

empl_geog_quality_places['category_list'] = None

for index, row in empl_geog.iterrows():
    geom = row['geometry']
    filter_geom = gpd.GeoSeries([geom], crs='EPSG:4326')

    #All Places
    filtered_places = quality_places[quality_places.geometry.intersects(filter_geom.unary_union)]

    #Multipoint of each LSOA's places
    combined_multipoint = filtered_places.geometry.unary_union
    
    #Add place category information
    category_list = filtered_places['category'].dropna().tolist()

    #Add back to Dataframe
    empl_geog_quality_places.at[index, 'category_list'] = category_list

empl_geog_quality_places.head()

,LSOA11CD,LSOA11NM_x,population,Area,"01 : Crop and animal production, hunting and related service activities",02 : Forestry and logging,03 : Fishing and aquaculture,05 : Mining of coal and lignite,06 : Extraction of crude petroleum and natural gas,07 : Mining of metal ores,...,residential_total_area,commercial_avg_building_area,commercial_lsoa_area_ratio,commercial_total_area,office_avg_building_area,office_lsoa_area_ratio,office_total_area,retail_avg_building_area,retail_lsoa_area_ratio,retail_total_area
0,E01000001,City of London 001A,1465,lsoa2011:E01000001 : City of London 001A,0,0,0,0,10,0,...,4.569009e-07,2.656669e-07,0.076921,0.000001,0.000000e+00,0.000000,0.000000e+00,2.200346e-07,0.101934,1.760277e-06
1,E01000002,City of London 001B,1436,lsoa2011:E01000002 : City of London 001B,0,0,0,0,0,0,...,4.215369e-07,2.245372e-07,0.099630,0.000003,0.000000e+00,0.000000,0.000000e+00,4.283602e-07,0.131587,3.855242e-06
2,E01000003,City of London 001C,1346,lsoa2011:E01000003 : City of London 001C,0,0,0,0,0,0,...,4.204698e-07,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,1.375725e-07,0.018533,1.375725e-07
3,E01000005,City of London 001E,985,lsoa2011:E01000005 : City of London 001E,0,10,0,0,0,0,...,0.000000e+00,3.214321e-07,0.065058,0.000002,2.773609e-08,0.001123,2.773609e-08,3.156538e-07,0.127778,3.156538e-06
4,E01000006,Barking and Dagenham 016A,1703,lsoa2011:E01000006 : Barking and Dagenham 016A,0,0,0,0,0,0,...,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00

In [18]:
# One-Hot Encoding - yet again

#Explode category lists
empl_geog_quality_places_exploded = empl_geog_quality_places.explode('category_list')

#Set up encoder
encoder = OneHotEncoder(sparse_output=False)

#Encode
encoded_categories_quality = encoder.fit_transform(empl_geog_quality_places_exploded[['category_list']])
encoded_df = pd.DataFrame(encoded_categories_quality, columns=encoder.get_feature_names_out(['category_list']))

empl_geog_quality_places_exploded = pd.concat([empl_geog_quality_places_exploded.reset_index(drop=True), encoded_df.reset_index(drop=True)], axis=1)

# Reaggregate
empl_geog_quality_places_exploded.drop(columns=['category_list'], inplace=True)

# Group by LSOA11CD - sum numeric only
numeric_columns = encoded_df.columns.tolist()
empl_geog_quality_places_encoded = empl_geog_quality_places_exploded.groupby('LSOA11CD')[numeric_columns].sum().reset_index()

#Save columns of interest for analysis

quality_categories = empl_geog_quality_places_encoded.columns[1:]

empl_geog_quality_places_encoded.head()

,LSOA11CD,category_list_3d_printing_service,category_list_abortion_clinic,category_list_abuse_and_addiction_treatment,category_list_accommodation,category_list_accountant,category_list_acoustical_consultant,category_list_active_life,category_list_acupuncture,category_list_addiction_rehabilitation_center,...,category_list_women's_clothing_store,category_list_women's_health_clinic,category_list_wood_and_pulp,category_list_woodworking_supply_store,category_list_writing_service,category_list_yoga_instructor,category_list_yoga_studio,category_list_youth_organizations,category_list_zoo,category_list_nan
0,E01000001,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,E01000002,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,E01000003,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,E01000005,0.0,0.0,0.0,1.0,2.0,0.0,2.0,1.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,E01000006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
#Rejoin with all data

all_data_quality_places = pd.merge(empl_geog_quality_places, empl_geog_quality_places_encoded, on='LSOA11CD')

all_data_quality_places.head()

,LSOA11CD,LSOA11NM_x,population,Area,"01 : Crop and animal production, hunting and related service activities",02 : Forestry and logging,03 : Fishing and aquaculture,05 : Mining of coal and lignite,06 : Extraction of crude petroleum and natural gas,07 : Mining of metal ores,...,category_list_women's_clothing_store,category_list_women's_health_clinic,category_list_wood_and_pulp,category_list_woodworking_supply_store,category_list_writing_service,category_list_yoga_instructor,category_list_yoga_studio,category_list_youth_organizations,category_list_zoo,category_list_nan
0,E01000001,City of London 001A,1465,lsoa2011:E01000001 : City of London 001A,0,0,0,0,10,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,E01000002,City of London 001B,1436,lsoa2011:E01000002 : City of London 001B,0,0,0,0,0,0,...,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,E01000003,City of London 001C,1346,lsoa2011:E01000003 : City of London 001C,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,E01000005,City of London 001E,985,lsoa2011:E01000005 : City of London 001E,0,10,0,0,0,0,...,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,E01000006,Barking and Dagenham 016A,1703,lsoa2011:E01000006 : Barking and Dagenham 016A,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
# Collapse Categories (Also Copied from DataExploration)

# Automated Condensing of Column Types

# List all columns
all_columns = encoded_categories.columns.tolist()

# I'll group them by 'suffix' to find commonalities
suffix_groups = {}

# Iterate through columns to identify suffixes
for column in all_columns:
    lower_column = column.lower()
    parts = lower_column.split('_')
    if len(parts) > 1:
        suffix = parts[-1]
        if suffix in suffix_groups:
            suffix_groups[suffix].append(column)
        else:
            suffix_groups[suffix] = [column]
    else:
        # Handle columns without suffixes
        suffix_groups['other'] = suffix_groups.get('other', []) + [column]

# Create a list of DataFrames to concatenate
concatenated_dfs = []

# Iterate through suffix groups and aggregate columns
for suffix, columns in suffix_groups.items():
    if columns:
        if len(columns) == 1:
            # Preserve col name if only one col with suffix
            new_column_name = columns[0].replace('category_list_', '')
            concatenated_dfs.append(encoded_categories[columns].rename(columns={columns[0]: new_column_name}))
        else:
            # Aggregate columns with more than one column in the group
            new_column_name = f'all_{suffix}'
            concatenated_dfs.append(encoded_categories[columns].sum(axis=1).rename(new_column_name))

# Concatenate all DataFrames
condensed_categories = pd.concat(concatenated_dfs, axis=1)

# Print summary information (groups only)
for suffix, columns in suffix_groups.items():
    num_columns = len(columns)
    if num_columns > 1:
        print(f'Number of {suffix.capitalize()} Categories: {num_columns}')

condensed_categories.head()

Number of Service Categories: 81
Number of Clinic Categories: 8
Number of Accommodation Categories: 2
Number of Consultant Categories: 9
Number of Center Categories: 31
Number of Services Categories: 85
Number of Education Categories: 3
Number of Entertainment Categories: 2
Number of Store Categories: 100
Number of Agency Categories: 12
Number of Restaurant Categories: 110
Number of Program Categories: 2
Number of Supplier Categories: 25
Number of Production Categories: 6
Number of Dealer Categories: 14
Number of Manufacturer Categories: 8
Number of Repair Categories: 21
Number of Lounge Categories: 2
Number of Centers Categories: 2
Number of Contractor Categories: 5
Number of Medicine Categories: 6
Number of League Categories: 4
Number of Team Categories: 4
Number of Park Categories: 9
Number of Church Categories: 5
Number of Hospital Categories: 3
Number of Shelter Categories: 2
Number of Studio Categories: 7
Number of Agent Categories: 2
Number of Apartments Categories: 2
Number of Range Categories: 3
Number of Architect Categories: 2
Number of Designer Categories: 3
Number of Museum Categories: 11
Number of Restoration Categories: 3
Number of School Categories: 26
Number of Facility Categories: 5
Number of Tours Categories: 9
Number of House Categories: 5
Number of Design Categories: 2
Number of Rental Categories: 7
Number of Shop Categories: 41
Number of Company Categories: 18
Number of Insurance Categories: 4
Number of Provider Categories: 4
Number of Security Categories: 2
Number of Accessories Categories: 4
Number of Equipment Categories: 8
Number of Mining Categories: 2
Number of Dealers Categories: 3
Number of Area Categories: 2
Number of Court Categories: 5
Number of Union Categories: 4
Number of Law Categories: 17
Number of Bar Categories: 17
Number of Classes Categories: 5
Number of Field Categories: 3
Number of Stadium Categories: 6
Number of Stores Categories: 6
Number of Remodeling Categories: 2
Number of Rentals Categories: 9
Number of Spa Categories: 4
Number of Salon Categories: 5
Number of Garden Categories: 3
Number of Hall Categories: 6
Number of Offices Categories: 3
Number of Charter Categories: 2
Number of Training Categories: 4
Number of Distribution Categories: 2
Number of Bookstore Categories: 2
Number of Camp Categories: 2
Number of Photography Categories: 4
Number of Class Categories: 2
Number of Club Categories: 21
Number of Gym Categories: 2
Number of Brokers Categories: 3
Number of Temple Categories: 3
Number of Station Categories: 7
Number of Business Categories: 2
Number of Advertising Categories: 4
Number of Supply Categories: 9
Number of Management Categories: 4
Number of Schools Categories: 5
Number of Transportation Categories: 5
Number of Cafe Categories: 2
Number of Building Categories: 2
Number of Broker Categories: 3
Number of Buyer Categories: 2
Number of Inspector Categories: 2
Number of Installation Categories: 7
Number of Tinting Categories: 2
Number of Surgeon Categories: 5
Number of Counseling Categories: 2
Number of Cleaning Categories: 5
Number of Office Categories: 6
Number of Clothing Categories: 6
Number of Organization Categories: 10
Number of Loans Categories: 2
Number of Care Categories: 5
Number of Engineers Categories: 2
Number of Laboratories Categories: 2
Number of Supplies Categories: 6
Number of Agencies Categories: 2
Number of Estate Categories: 2
Number of Artist Categories: 3
Number of Wholesaler Categories: 13
Number of Dentist Categories: 3
Number of Space Categories: 3
Number of Farm Categories: 4
Number of Wear Categories: 3
Number of Preschool Categories: 2
Number of Vehicles Categories: 2
Number of Trainer Categories: 3
Number of Organizations Categories: 6
Number of Institute Categories: 2
Number of Room Categories: 3
Number of Consultants Categories: 2
Number of Businesses Categories: 2
Number of Testing Categories: 2
Number of Massage Categories: 2
Number of Planning Categories: 3
Number of Fair Categories: 2
Number of Counselor Categories: 2
Number of Market Categories: 7
Number of Department Categories: 3
Number of Contractors Categories: 2
Number of Florist Categories: 2
Number of Food Categories: 3
Number of Exporter Categories: 2
Number of Foods Categories: 2
Number of Manufacturers Categories: 2
Number of Publisher Categories: 2
Number of Track Categories: 2
Number of Course Categories: 2
Number of Instructor Categories: 3
Number of Removal Categories: 3
Number of Coach Categories: 3
Number of Arena Categories: 2
Number of Companies Categories: 2
Number of Decor Categories: 2
Number of Home Categories: 2
Number of Boarding Categories: 2
Number of Sitting Categories: 2
Number of Gardening Categories: 2
Number of Rink Categories: 3
Number of Landscaping Categories: 2
Number of Specialist Categories: 2
Number of Pub Categories: 2
Number of Goods Categories: 2
Number of Media Categories: 2
Number of Therapy Categories: 3
Number of Development Categories: 3
Number of Metals Categories: 2
Number of Venue Categories: 3
Number of Association Categories: 4
Number of Mill Categories: 3
Number of Zoo Categories: 2
Number of Piercing Categories: 2
Number of Plaza Categories: 2
Number of Billiards Categories: 2
Number of Washing Categories: 2
Number of Psychologist Categories: 2
Number of Resort Categories: 2
Number of Instruction Categories: 2
Number of Therapist Categories: 2
Number of Agents Categories: 2

,LSOA11CD,all_service,all_clinic,abuse_and_addiction_treatment,all_accommodation,accountant,all_consultant,active_life,acupuncture,all_center,...,waxing,welders,well_drilling,wholesale_grocer,wildlife_control,wildlife_sanctuary,wills_trusts_and_probate,winery,wood_and_pulp,None
0,E01000001,12.0,0.0,0.0,2.0,1.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,E01000002,21.0,0.0,0.0,1.0,5.0,4.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,E01000003,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,E01000005,26.0,0.0,0.0,1.0,2.0,2.0,2.0,1.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,E01000006,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
#Remove all categories that have less than five in London (arbitrary cutoff for now)

column_sums = condensed_categories.iloc[:, 1:].sum()
columns_to_drop = column_sums[column_sums < 5].index.tolist()
print(columns_to_drop)

condensed_categories = condensed_categories.drop(columns=columns_to_drop)

#Store new categories
condensed_category_columns = condensed_categories.columns[1:]

condensed_categories.head()

['aesthetician', 'agricultural_cooperatives', 'allergist', 'anesthesiologist', 'apiaries_and_beekeepers', 'artificial_turf', 'ayurveda', 'b2b_machinery_and_tools', 'all_area', 'batting_cage', 'bicycle_sharing_location', 'bistro', 'business_financing', 'cabaret', 'car_auction', 'car_sharing', 'castle', 'chambers_of_commerce', 'coffee_roastery', 'community_gardens', 'convents_and_monasteries', 'customized_merchandise', 'drive_in_theater', 'empanadas', 'feng_shui', 'festival', 'fidelity_and_surety_bonds', 'firewood', 'forest', 'fort', 'gemstone_and_mineral', 'gents_tailor', 'glass_blowing', 'greengrocer', 'greenhouses', 'heliports', 'hydrotherapy', 'all_specialist', 'inn', 'irrigation', 'island', 'knife_sharpening', 'light_rail_and_subway_stations', 'macarons', 'marching_band', 'metal_materials_and_experts', 'mills', 'mission', 'mountain_bike_parks', 'mountain_bike_trails', 'office_of_vital_records', 'oncologist', 'orthotics', 'outdoor_movies', 'package_locker', 'pediatric_cardiology', 'periodontist', 'personal_shopper', 'pet_adoption', 'plastic_injection_molding_workshop', 'poke', 'props', 'prosthetics', 'public_adjuster', 'public_bath_houses', 'public_restrooms', 'public_toilet', 'quarries', 'religious_items', 'rest_areas', 'rheumatologist', 'roadside_assistance', 'rodeo', 'ruin', 'sauna', 'street_vendor', 'striptease_dancer', 'sugaring', 'supernatural_reading', 'surfing', 'tabletop_games', 'tanning_bed', 'taxi_rank', 'taxidermist', 'tower', 'trivia_host', 'tui_na', 'vehicle_shipping', 'vehicle_wrap', 'water_delivery', 'welders', 'well_drilling', 'wildlife_control', 'wood_and_pulp', 'None']

,LSOA11CD,all_service,all_clinic,abuse_and_addiction_treatment,all_accommodation,accountant,all_consultant,active_life,acupuncture,all_center,...,veterinarian,videographer,vitamins_and_supplements,warehouses,waterproofing,waxing,wholesale_grocer,wildlife_sanctuary,wills_trusts_and_probate,winery
0,E01000001,12.0,0.0,0.0,2.0,1.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,E01000002,21.0,0.0,0.0,1.0,5.0,4.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,E01000003,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,E01000005,26.0,0.0,0.0,1.0,2.0,2.0,2.0,1.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,E01000006,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
# Join Condensed Version with data (Same Logic as in EarlyModels.ipynb and above)

all_data_cleaned = pd.merge(data_with_geom, condensed_categories, on='LSOA11CD')

all_data_cleaned.head()

,LSOA11CD,LSOA11NM_x,population,Area,"01 : Crop and animal production, hunting and related service activities",02 : Forestry and logging,03 : Fishing and aquaculture,05 : Mining of coal and lignite,06 : Extraction of crude petroleum and natural gas,07 : Mining of metal ores,...,veterinarian,videographer,vitamins_and_supplements,warehouses,waterproofing,waxing,wholesale_grocer,wildlife_sanctuary,wills_trusts_and_probate,winery
0,E01000001,City of London 001A,1465,lsoa2011:E01000001 : City of London 001A,0,0,0,0,10,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,E01000002,City of London 001B,1436,lsoa2011:E01000002 : City of London 001B,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,E01000003,City of London 001C,1346,lsoa2011:E01000003 : City of London 001C,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,E01000005,City of London 001E,985,lsoa2011:E01000005 : City of London 001E,0,10,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,E01000006,Barking and Dagenham 016A,1703,lsoa2011:E01000006 : Barking and Dagenham 016A,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Test Model with Collapsed and Quality/Occurrence Cleaned Categories

In [122]:

# Create training and testing data
features = ['num_buildings', 'num_places', 'population'] + list(geo_features) + list(condensed_category_columns)
target = 'total_employment'

# Split the dataset - 80/20 train test
X_train, X_test, y_train, y_test = train_test_split(all_data_cleaned[features], all_data_cleaned[target], test_size=0.2, random_state=42)

# Save results and fit
automl = AutoML(results_path="automl_results_v2/raw_employment_category_cleaned/", mode='Explain')

# fit the model
automl.fit(X_train, y_train)


predictions = automl.predict(X_test)
r2 = r2_score(y_test, predictions)
rmse = np.sqrt(mean_squared_error(y_test, predictions))

print(f'R^2 Score: {r2}')
print(f'RMSE: {rmse}')

#Save results for plotting
predictions_all = automl.predict(all_data_cleaned[features])
geometries = all_data_cleaned.loc[all_data_cleaned[target].index, 'geometry']

results_raw_employment_category_cleaned = pd.DataFrame({
    'geometry': geometries,
    'observed': all_data_cleaned[target],
    'predicted': predictions_all,
})

This model has already been fitted. You can use predict methods or select a new 'results_path' for a new 'fit()'.
R^2 Score: 0.65287891862071
RMSE: 1498.5201266686245

## Target Employment Density

In [25]:
# Create a new column Employment Density and create new model to target that
all_data_cleaned['employment_density'] = all_data_cleaned['total_employment'] / (all_data_cleaned['geometry']).to_crs("EPSG:27700").area

# Also creating my log employment count for plotting here because it didn't get carried over from the other file for ~some reason~

In [86]:

# Create training and testing data
features = ['num_buildings', 'num_places', 'population'] + list(geo_features) + list(condensed_category_columns)
target = 'employment_density'

# Split the dataset - 80/20 train test
X_train, X_test, y_train, y_test = train_test_split(all_data_cleaned[features], all_data_cleaned[target], test_size=0.2, random_state=42)

# Save results and fit
automl = AutoML(results_path="automl_results_v2/employment_density_category_cleaned/", mode='Explain')
# fit the model
automl.fit(X_train, y_train)

predictions = automl.predict(X_test)
r2 = r2_score(y_test, predictions)
rmse = np.sqrt(mean_squared_error(y_test, predictions))

print(f'R^2 Score: {r2}')
print(f'RMSE: {rmse}')

#Save results for plotting
predictions_all = automl.predict(all_data_cleaned[features])
geometries = all_data_cleaned.loc[all_data_cleaned[target].index, 'geometry']

results_empl_density = pd.DataFrame({
    'geometry': geometries,
    'observed': all_data_cleaned[target],
    'predicted': predictions_all,
})

This model has already been fitted. You can use predict methods or select a new 'results_path' for a new 'fit()'.
R^2 Score: 0.611789894148709
RMSE: 0.009895010757975303

/Users/gavinrolls/anaconda3/envs/urbsim/lib/python3.11/site-packages/sklearn/base.py:458: UserWarning: X has feature names, but StandardScaler was fitted without feature names
/Users/gavinrolls/anaconda3/envs/urbsim/lib/python3.11/site-packages/sklearn/base.py:458: UserWarning: X has feature names, but StandardScaler was fitted without feature names

## Target Office Worker Employment Density

In [26]:
# Use office work cols from previous analysis

office_work_cols = [
    '42 : Civil engineering',
    '58 : Publishing activities',
    '59 : Motion picture, video and television programme production, sound recording and music publishing activities',
    '60 : Programming and broadcasting activities',
    '61 : Telecommunications',
    '62 : Computer programming, consultancy and related activities',
    '63 : Information service activities',
    '64 : Financial service activities, except insurance and pension funding',
    '65 : Insurance, reinsurance and pension funding, except compulsory social security',
    '66 : Activities auxiliary to financial services and insurance activities',
    '68 : Real estate activities',
    '69 : Legal and accounting activities',
    '70 : Activities of head offices; management consultancy activities',
    '71 : Architectural and engineering activities; technical testing and analysis',
    '72 : Scientific research and development',
    '73 : Advertising and market research',
    '74 : Other professional, scientific and technical activities',
    '77 : Rental and leasing activities',
    '78 : Employment activities',
    '79 : Travel agency, tour operator and other reservation service and related activities',
    '80 : Security and investigation activities',
    '82 : Office administrative, office support and other business support activities',
    '84 : Public administration and defence; compulsory social security'
]

# Create a new Office Work Total Column :
all_data_cleaned['office_total_employment'] = all_data_cleaned[office_work_cols].sum(axis=1)

# And an Office Work Density Column
all_data_cleaned['office_employment_density'] = all_data_cleaned['office_total_employment'] / (all_data_cleaned['geometry']).to_crs("EPSG:27700").area

all_data_cleaned.head()

,LSOA11CD,LSOA11NM_x,population,Area,"01 : Crop and animal production, hunting and related service activities",02 : Forestry and logging,03 : Fishing and aquaculture,05 : Mining of coal and lignite,06 : Extraction of crude petroleum and natural gas,07 : Mining of metal ores,...,warehouses,waterproofing,waxing,wholesale_grocer,wildlife_sanctuary,wills_trusts_and_probate,winery,employment_density,office_total_employment,office_employment_density
0,E01000001,City of London 001A,1465,lsoa2011:E01000001 : City of London 001A,0,0,0,0,10,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.107710,10800,0.081008
1,E01000002,City of London 001B,1436,lsoa2011:E01000002 : City of London 001B,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.201621,39550,0.174852
2,E01000003,City of London 001C,1346,lsoa2011:E01000003 : City of London 001C,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.013263,425,0.007417
3,E01000005,City of London 001E,985,lsoa2011:E01000005 : City of London 001E,0,10,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.119194,18070,0.094737
4,E01000006,Barking and Dagenham 016A,1703,lsoa2011:E01000006 : Barking and Dagenham 016A,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000728,5,0.000035

In [24]:
# Run the model

# Create training and testing data
features = ['num_buildings', 'num_places', 'population'] + list(geo_features) + list(condensed_category_columns)
target = 'office_employment_density'

# Split the dataset - 80/20 train test
X_train, X_test, y_train, y_test = train_test_split(all_data_cleaned[features], all_data_cleaned[target], test_size=0.2, random_state=3)

# Save results and fit
automl = AutoML(results_path="automl_results_v2/office_employment_density_category_cleaned/", mode='Explain')
# fit the model
automl.fit(X_train, y_train)

predictions = automl.predict(X_test)
r2 = r2_score(y_test, predictions)
rmse = np.sqrt(mean_squared_error(y_test, predictions))

print(f'R^2 Score: {r2}')
print(f'RMSE: {rmse}')

#Save results for plotting
predictions_all = automl.predict(all_data_cleaned[features])
geometries = all_data_cleaned.loc[all_data_cleaned[target].index, 'geometry']

results_office_density_cleaned = pd.DataFrame({
    'geometry': geometries,
    'observed': all_data_cleaned[target],
    'predicted': predictions_all,
})

NameError: name 'condensed_category_columns' is not defined

### Performance Models

In [57]:
# Performance Model Raw Employment

# Create training and testing data
features = ['num_buildings', 'num_places', 'population'] + list(geo_features) + list(condensed_category_columns)
target = 'total_employment'

# Split the dataset - 80/20 train test
X_train, X_test, y_train, y_test = train_test_split(all_data_cleaned[features], all_data_cleaned[target], test_size=0.2, random_state=3)

automl = AutoML(
    results_path ='automl_results_v2/employment_cleaned_perform/',
    algorithms=["CatBoost", "Xgboost", "Random Forest"],
    model_time_limit=1*60,
    start_random_models=5,
    hill_climbing_steps=3,
    top_models_to_improve=3,
    features_selection=False,
    stack_models=True,
    train_ensemble=True,
    explain_level=1,
    validation_strategy={
        "validation_type": "kfold",
        "k_folds": 4,
        "shuffle": False,
        "stratify": True,
    }
)

# fit the model
automl.fit(X_train, y_train)

predictions = automl.predict(X_test)
r2 = r2_score(y_test, predictions)
rmse = np.sqrt(mean_squared_error(y_test, predictions))

print(f'R^2 Score: {r2}')
print(f'RMSE: {rmse}')

#Save results for plotting
predictions_all = automl.predict(all_data_cleaned[features])
geometries = all_data_cleaned.loc[all_data_cleaned[target].index, 'geometry']

results_office_cleaned_perform = pd.DataFrame({
    'geometry': geometries,
    'observed': all_data_cleaned[target],
    'predicted': predictions_all,
})

AutoML directory: automl_results_v2/employment_cleaned_perform/
The task is regression with evaluation metric rmse
AutoML will use algorithms: ['CatBoost', 'Xgboost', 'Random Forest']
AutoML will stack models
AutoML will ensemble available models
AutoML steps: ['simple_algorithms', 'default_algorithms', 'not_so_random', 'hill_climbing_1', 'hill_climbing_2', 'hill_climbing_3', 'ensemble', 'stack', 'ensemble_stacked']
Skip simple_algorithms because no parameters were generated.
* Step default_algorithms will try to check up to 3 models
1_Default_Xgboost rmse 5591.329248 trained in 43.3 seconds
2_Default_CatBoost rmse 6123.015341 trained in 56.5 seconds
3_Default_RandomForest rmse 6507.418241 trained in 64.14 seconds
* Step not_so_random will try to check up to 12 models
4_Xgboost rmse 5462.617794 trained in 41.07 seconds
8_CatBoost rmse 6509.845723 trained in 77.36 seconds
12_RandomForest rmse 6130.134193 trained in 66.39 seconds
5_Xgboost rmse 5700.48805 trained in 40.53 seconds
9_CatBoost rmse 6885.032338 trained in 53.57 seconds
13_RandomForest rmse 6636.303677 trained in 65.33 seconds
6_Xgboost rmse 5456.549529 trained in 46.96 seconds
10_CatBoost rmse 6386.738846 trained in 59.9 seconds
14_RandomForest rmse 6626.91363 trained in 57.62 seconds
7_Xgboost rmse 6112.488141 trained in 40.85 seconds
11_CatBoost rmse 6805.51586 trained in 60.81 seconds
15_RandomForest rmse 6636.913513 trained in 67.76 seconds
* Step hill_climbing_1 will try to check up to 18 models
16_Xgboost rmse 5435.824319 trained in 46.15 seconds
17_Xgboost rmse 5580.199024 trained in 51.45 seconds
18_Xgboost rmse 5595.192427 trained in 40.3 seconds
19_Xgboost rmse 5568.689581 trained in 46.84 seconds
20_Xgboost rmse 5837.082602 trained in 42.79 seconds
21_Xgboost rmse 5606.614418 trained in 44.12 seconds
22_CatBoost rmse 6078.711996 trained in 62.17 seconds
23_CatBoost rmse 6184.548189 trained in 56.19 seconds
24_RandomForest rmse 6017.376382 trained in 74.65 seconds
25_RandomForest rmse 6481.212734 trained in 70.39 seconds
26_CatBoost rmse 6276.862491 trained in 68.42 seconds
27_CatBoost rmse 6286.829091 trained in 57.08 seconds
28_RandomForest rmse 6164.63579 trained in 62.46 seconds
29_RandomForest rmse 6595.587963 trained in 64.62 seconds
30_CatBoost rmse 6497.904708 trained in 87.64 seconds
31_CatBoost rmse 6563.199298 trained in 69.75 seconds
32_RandomForest rmse 6502.299781 trained in 64.94 seconds
33_RandomForest rmse 6660.487397 trained in 73.06 seconds
* Step hill_climbing_2 will try to check up to 10 models
34_Xgboost rmse 5452.877719 trained in 48.45 seconds
35_Xgboost rmse 5517.302668 trained in 45.19 seconds
36_Xgboost rmse 5629.872304 trained in 45.45 seconds
37_Xgboost rmse 5697.039768 trained in 45.61 seconds
38_Xgboost rmse 5305.916964 trained in 47.57 seconds
39_RandomForest rmse 6005.773272 trained in 68.05 seconds
40_CatBoost rmse 6046.322173 trained in 86.39 seconds
41_RandomForest rmse 6145.217065 trained in 64.96 seconds
42_RandomForest rmse 6199.329669 trained in 85.44 seconds
43_RandomForest rmse 6152.029273 trained in 87.74 seconds
* Step hill_climbing_3 will try to check up to 12 models
44_Xgboost rmse 5604.043495 trained in 39.1 seconds
45_Xgboost rmse 5541.516044 trained in 39.64 seconds
46_Xgboost rmse 5618.503854 trained in 39.41 seconds
47_Xgboost rmse 5936.313061 trained in 39.66 seconds
48_Xgboost rmse 5552.49123 trained in 41.11 seconds
49_Xgboost rmse 5947.509228 trained in 39.93 seconds
50_RandomForest rmse 6591.413722 trained in 77.21 seconds
51_RandomForest rmse 5861.951328 trained in 68.05 seconds
52_RandomForest rmse 6508.408165 trained in 49.59 seconds
53_RandomForest rmse 5815.577208 trained in 102.8 seconds
54_RandomForest rmse 6515.433998 trained in 47.21 seconds
55_RandomForest rmse 6147.439726 trained in 158.86 seconds
* Step ensemble will try to check up to 1 model
Ensemble rmse 5305.916359 trained in 1.61 seconds
* Step stack will try to check up to 30 models
38_Xgboost_Stacked rmse 5774.315968 trained in 51.21 seconds
53_RandomForest_Stacked rmse 5825.881573 trained in 96.14 seconds
40_CatBoost_Stacked rmse 6191.841324 trained in 80.45 seconds
16_Xgboost_Stacked rmse 6098.448861 trained in 49.32 seconds
51_RandomForest_Stacked rmse 5810.208904 trained in 79.28 seconds
22_CatBoost_Stacked rmse 6135.123371 trained in 68.79 seconds
34_Xgboost_Stacked rmse 6240.546048 trained in 51.76 seconds
39_RandomForest_Stacked rmse 5875.401264 trained in 72.1 seconds
2_Default_CatBoost_Stacked rmse 6301.975454 trained in 104.48 seconds
6_Xgboost_Stacked rmse 6044.246705 trained in 50.73 seconds
24_RandomForest_Stacked rmse 5915.754726 trained in 87.35 seconds
23_CatBoost_Stacked rmse 6254.895265 trained in 72.61 seconds
4_Xgboost_Stacked rmse 5853.695962 trained in 55.24 seconds
12_RandomForest_Stacked rmse 5931.763383 trained in 82.22 seconds
26_CatBoost_Stacked rmse 6372.21752 trained in 75.53 seconds
35_Xgboost_Stacked rmse 6215.712703 trained in 48.96 seconds
41_RandomForest_Stacked rmse 5902.666317 trained in 65.16 seconds
27_CatBoost_Stacked rmse 6362.18556 trained in 76.77 seconds
45_Xgboost_Stacked rmse 5715.324106 trained in 53.17 seconds
55_RandomForest_Stacked rmse 5945.118812 trained in 94.17 seconds
10_CatBoost_Stacked rmse 6374.528935 trained in 60.2 seconds
48_Xgboost_Stacked rmse 5999.338109 trained in 44.28 seconds
43_RandomForest_Stacked rmse 5987.28852 trained in 90.43 seconds
30_CatBoost_Stacked rmse 6580.985843 trained in 78.37 seconds
19_Xgboost_Stacked rmse 5731.034702 trained in 48.59 seconds
28_RandomForest_Stacked rmse 5926.788863 trained in 71.25 seconds
8_CatBoost_Stacked rmse 6568.898769 trained in 70.6 seconds
17_Xgboost_Stacked rmse 6270.897208 trained in 44.0 seconds
42_RandomForest_Stacked rmse 5987.238562 trained in 76.79 seconds
31_CatBoost_Stacked rmse 6550.189136 trained in 58.69 seconds
* Step ensemble_stacked will try to check up to 1 model
Ensemble_Stacked rmse 5305.915841 trained in 3.83 seconds
AutoML fit time: 5397.28 seconds
AutoML best model: Ensemble_Stacked
R^2 Score: 0.7850636407447722
RMSE: 1454.5493915316624

In [69]:
# Performance Model Employment Density

# Create training and testing data
features = ['num_buildings', 'num_places', 'population'] + list(geo_features) + list(condensed_category_columns)
target = 'employment_density'

# Split the dataset - 80/20 train test
X_train, X_test, y_train, y_test = train_test_split(all_data_cleaned[features], all_data_cleaned[target], test_size=0.2, random_state=3)

automl = AutoML(
    results_path ='automl_results_v2/employment_density_cleaned_perform/',
    algorithms=["CatBoost", "Xgboost", "Random Forest"],
    model_time_limit=1*60,
    start_random_models=5,
    hill_climbing_steps=3,
    top_models_to_improve=3,
    features_selection=False,
    stack_models=True,
    train_ensemble=True,
    explain_level=1,
    validation_strategy={
        "validation_type": "kfold",
        "k_folds": 4,
        "shuffle": False,
        "stratify": True,
    }
)

# fit the model
automl.fit(X_train, y_train)

predictions = automl.predict(X_test)
r2 = r2_score(y_test, predictions)
rmse = np.sqrt(mean_squared_error(y_test, predictions))

print(f'R^2 Score: {r2}')
print(f'RMSE: {rmse}')

#Save results for plotting
predictions_all = automl.predict(all_data_cleaned[features])
geometries = all_data_cleaned.loc[all_data_cleaned[target].index, 'geometry']

results_office_density_cleaned_perform = pd.DataFrame({
    'geometry': geometries,
    'observed': all_data_cleaned[target],
    'predicted': predictions_all,
})

AutoML directory: automl_results_v2/employment_density_cleaned_perform/
The task is regression with evaluation metric rmse
AutoML will use algorithms: ['CatBoost', 'Xgboost', 'Random Forest']
AutoML will stack models
AutoML will ensemble available models
AutoML steps: ['simple_algorithms', 'default_algorithms', 'not_so_random', 'hill_climbing_1', 'hill_climbing_2', 'hill_climbing_3', 'ensemble', 'stack', 'ensemble_stacked']
Skip simple_algorithms because no parameters were generated.
* Step default_algorithms will try to check up to 3 models
1_Default_Xgboost rmse 0.00871 trained in 48.8 seconds
2_Default_CatBoost rmse 0.008619 trained in 304.83 seconds
3_Default_RandomForest rmse 0.009369 trained in 1057.46 seconds
* Step not_so_random will try to check up to 12 models
4_Xgboost rmse 0.008694 trained in 39.67 seconds
8_CatBoost rmse 0.009125 trained in 703.99 seconds
12_RandomForest rmse 0.009098 trained in 45.9 seconds
5_Xgboost rmse 0.009085 trained in 65.02 seconds
9_CatBoost rmse 0.009396 trained in 69.41 seconds
13_RandomForest rmse 0.00976 trained in 57.21 seconds
6_Xgboost rmse 0.008507 trained in 37.7 seconds
10_CatBoost rmse 0.008858 trained in 60.97 seconds
14_RandomForest rmse 0.009082 trained in 143.76 seconds
7_Xgboost rmse 0.008843 trained in 41.57 seconds
11_CatBoost rmse 0.008859 trained in 54.59 seconds
15_RandomForest rmse 0.008927 trained in 497.18 seconds
Skip hill_climbing_1 because of the time limit.
Skip hill_climbing_2 because of the time limit.
Skip hill_climbing_3 because of the time limit.
* Step ensemble will try to check up to 1 model
Ensemble rmse 0.008206 trained in 0.18 seconds
* Step stack will try to check up to 15 models
6_Xgboost_Stacked rmse 0.008469 trained in 40.87 seconds
2_Default_CatBoost_Stacked rmse 0.008849 trained in 53.84 seconds
15_RandomForest_Stacked rmse 0.009031 trained in 81.44 seconds
4_Xgboost_Stacked rmse 0.008562 trained in 199.05 seconds
10_CatBoost_Stacked rmse 0.008839 trained in 95.13 seconds
14_RandomForest_Stacked rmse 0.009125 trained in 61.95 seconds
1_Default_Xgboost_Stacked rmse 0.008651 trained in 116.84 seconds
11_CatBoost_Stacked rmse 0.009667 trained in 998.58 seconds
12_RandomForest_Stacked rmse 0.008566 trained in 59.33 seconds
7_Xgboost_Stacked rmse 0.00876 trained in 45.62 seconds
8_CatBoost_Stacked rmse 0.009116 trained in 296.05 seconds
3_Default_RandomForest_Stacked rmse 0.008805 trained in 58.12 seconds
5_Xgboost_Stacked rmse 0.008838 trained in 41.4 seconds
9_CatBoost_Stacked rmse 0.009368 trained in 1053.76 seconds
13_RandomForest_Stacked rmse 0.009248 trained in 56.96 seconds
* Step ensemble_stacked will try to check up to 1 model
Ensemble_Stacked rmse 0.00815 trained in 0.54 seconds
AutoML fit time: 6501.67 seconds
AutoML best model: Ensemble_Stacked
R^2 Score: 0.661241385708298
RMSE: 0.008463089619712117

In [67]:
# Performance Model Office Employment Density

# Create training and testing data
features = ['num_buildings', 'num_places', 'population'] + list(geo_features) + list(condensed_category_columns)
target = 'office_employment_density'

# Split the dataset - 80/20 train test
X_train, X_test, y_train, y_test = train_test_split(all_data_cleaned[features], all_data_cleaned[target], test_size=0.2, random_state=3)

automl = AutoML(
    results_path ='automl_results_v2/office_employment_density_cleaned_perform/',
    algorithms=["CatBoost", "Xgboost", "Random Forest"],
    model_time_limit=1*60,
    start_random_models=5,
    hill_climbing_steps=3,
    top_models_to_improve=3,
    features_selection=False,
    stack_models=True,
    train_ensemble=True,
    explain_level=1,
    validation_strategy={
        "validation_type": "kfold",
        "k_folds": 4,
        "shuffle": False,
        "stratify": True,
    }
)

# fit the model
automl.fit(X_train, y_train)

predictions = automl.predict(X_test)
r2 = r2_score(y_test, predictions)
rmse = np.sqrt(mean_squared_error(y_test, predictions))

print(f'R^2 Score: {r2}')
print(f'RMSE: {rmse}')

#Save results for plotting
predictions_all = automl.predict(all_data_cleaned[features])
geometries = all_data_cleaned.loc[all_data_cleaned[target].index, 'geometry']

results_office_density_cleaned_perform = pd.DataFrame({
    'geometry': geometries,
    'observed': all_data_cleaned[target],
    'predicted': predictions_all,
})

AutoML directory: automl_results_v2/office_employment_density_cleaned_perform/
The task is regression with evaluation metric rmse
AutoML will use algorithms: ['CatBoost', 'Xgboost', 'Random Forest']
AutoML will stack models
AutoML will ensemble available models
AutoML steps: ['simple_algorithms', 'default_algorithms', 'not_so_random', 'hill_climbing_1', 'hill_climbing_2', 'hill_climbing_3', 'ensemble', 'stack', 'ensemble_stacked']
Skip simple_algorithms because no parameters were generated.
* Step default_algorithms will try to check up to 3 models
1_Default_Xgboost rmse 0.006407 trained in 43.97 seconds
2_Default_CatBoost rmse 0.006203 trained in 107.58 seconds
3_Default_RandomForest rmse 0.006416 trained in 419.13 seconds
* Step not_so_random will try to check up to 12 models
4_Xgboost rmse 0.006102 trained in 740.18 seconds
8_CatBoost rmse 0.006836 trained in 94.76 seconds
12_RandomForest rmse 0.00635 trained in 45.91 seconds
5_Xgboost rmse 0.006462 trained in 38.33 seconds
9_CatBoost rmse 0.006842 trained in 68.32 seconds
13_RandomForest rmse 0.00658 trained in 62.92 seconds
6_Xgboost rmse 0.006222 trained in 49.98 seconds
10_CatBoost rmse 0.006582 trained in 95.57 seconds
14_RandomForest rmse 0.006692 trained in 60.9 seconds
7_Xgboost rmse 0.006391 trained in 56.12 seconds
11_CatBoost rmse 0.006709 trained in 89.81 seconds
15_RandomForest rmse 0.006479 trained in 50.08 seconds
* Step hill_climbing_1 will try to check up to 15 models
16_Xgboost rmse 0.006089 trained in 55.01 seconds
17_Xgboost rmse 0.006136 trained in 49.01 seconds
18_CatBoost rmse 0.006303 trained in 61.14 seconds
19_CatBoost rmse 0.006444 trained in 40.89 seconds
20_Xgboost rmse 0.006167 trained in 572.83 seconds
21_Xgboost rmse 0.006167 trained in 53.21 seconds
22_RandomForest rmse 0.006201 trained in 181.77 seconds
23_RandomForest rmse 0.00651 trained in 61.89 seconds
24_Xgboost rmse 0.006419 trained in 739.38 seconds
25_Xgboost rmse 0.006457 trained in 43.33 seconds
26_RandomForest rmse 0.006265 trained in 52.56 seconds
27_RandomForest rmse 0.006445 trained in 147.03 seconds
28_RandomForest rmse 0.006476 trained in 45.31 seconds
29_CatBoost rmse 0.00651 trained in 87.94 seconds
30_CatBoost rmse 0.006712 trained in 41.41 seconds
Skip hill_climbing_2 because of the time limit.
Skip hill_climbing_3 because of the time limit.
* Step ensemble will try to check up to 1 model
Ensemble rmse 0.005882 trained in 0.51 seconds
Skip stack because no parameters were generated.
Skip ensemble_stacked because no parameters were generated.
AutoML fit time: 4271.58 seconds
AutoML best model: Ensemble
R^2 Score: 0.448489220866921
RMSE: 0.007581375078632604

## Plots

In [65]:
# London Residual Plots

# Basic Model

results_basic_building = gpd.GeoDataFrame(results_basic_building, geometry='geometry')
results_basic_building['residual'] = results_basic_building['observed'] - results_basic_building['predicted']

fig, ax = plt.subplots(1, 1, figsize=(10, 10))
results_basic_building.plot(ax=ax, column='residual', legend=True, cmap='viridis')
plt.title('Residuals - London Basic Model')
ax.set_axis_off()
plt.savefig('Plots/from_code/residuals_london/basic_model_residuals.png')
plt.close(fig)

# Category Cleaned Performance (Not Office)

results_office_cleaned_perform = gpd.GeoDataFrame(results_office_cleaned_perform, geometry='geometry')
results_office_cleaned_perform['residual'] = results_office_cleaned_perform['observed'] - results_office_cleaned_perform['predicted']

fig, ax = plt.subplots(1, 1, figsize=(10, 10))
results_office_cleaned_perform.plot(ax=ax, column='residual', legend=True, cmap='viridis')
plt.title('Residuals - London Category Cleaned Model')
ax.set_axis_off()
plt.savefig('Plots/from_code/residuals_london/category_cleaned_model_performance_residuals.png')
plt.close(fig)


# Category Cleaned Employment Density

results_empl_density = gpd.GeoDataFrame(results_empl_density, geometry='geometry')
results_empl_density['residual'] = results_empl_density['observed'] - results_empl_density['predicted']

fig, ax = plt.subplots(1, 1, figsize=(10, 10))
results_empl_density.plot(ax=ax, column='residual', legend=True, cmap='viridis')
plt.title('Residuals - London Employment Density Model')
ax.set_axis_off()
plt.savefig('Plots/from_code/residuals_london/density_model_residuals.png')
plt.close(fig)

# Category Cleaned Employment Density Office Employment

results_office_density_cleaned = gpd.GeoDataFrame(results_office_density_cleaned, geometry='geometry')
results_office_density_cleaned['residual'] = results_office_density_cleaned['observed'] - results_office_density_cleaned['predicted']

fig, ax = plt.subplots(1, 1, figsize=(10, 10))
results_office_density_cleaned.plot(ax=ax, column='residual', legend=True, cmap='viridis')
plt.title('Residuals - London Office Employment Density Model')
ax.set_axis_off()
plt.savefig('Plots/from_code/residuals_london/office_density_model_residuals.png')
plt.close(fig)

# Category Cleaned

results_raw_employment_category_cleaned = gpd.GeoDataFrame(results_raw_employment_category_cleaned, geometry='geometry')
results_raw_employment_category_cleaned['residual'] = results_raw_employment_category_cleaned['observed'] - results_raw_employment_category_cleaned['predicted']

fig, ax = plt.subplots(1, 1, figsize=(10, 10))
results_raw_employment_category_cleaned.plot(ax=ax, column='residual', legend=True, cmap='viridis')
plt.title('Residuals - London Category Cleaned Model')
ax.set_axis_off()
plt.savefig('Plots/from_code/residuals_london/category_cleaned_model_residuals.png')
plt.close(fig)

NameError: name 'results_basic_building' is not defined

## Plots (Saved to Desktop)

In [46]:
# Employment Count
fig, ax = plt.subplots(1, 1, figsize=(10, 10))
all_data_cleaned.plot(ax=ax, column='total_employment', legend=True, cmap='viridis')
plt.title('Employment Count Map of London LSOAs')
ax.set_axis_off()
plt.title('Employment Count Map of London LSOAs')
plt.savefig('Plots/from_code/stats_london/employment_count_map.png')
plt.close(fig)

# Log Employment Count
fig, ax = plt.subplots(1, 1, figsize=(10, 10))
all_data_cleaned.plot(ax=ax, column='log_total_employment', legend=True, cmap='viridis')
plt.title('(log) Employment Count Map of London LSOAs')
ax.set_axis_off()
plt.title('(log) Employment Count Map of London LSOAs')
plt.savefig('Plots/from_code/stats_london/log_employment_count_map.png')
plt.close(fig)

# Employment Density
fig, ax = plt.subplots(1, 1, figsize=(10, 10))
all_data_cleaned.plot(ax=ax, column='employment_density', legend=True, cmap='viridis')
plt.title('Employment Density Map of London LSOAs')
ax.set_axis_off()
plt.title('Employment Density Map of London LSOAs')
plt.savefig('Plots/from_code/stats_london/employment_density_map.png')
plt.close(fig)

# Office Employment Density
all_data_cleaned['office_employment_density'] =all_data_cleaned['office_total_employment'] / (all_data_cleaned['geometry']).to_crs("EPSG:27700").area

fig, ax = plt.subplots(1, 1, figsize=(10, 10))
all_data_cleaned.plot(ax=ax, column='office_employment_density', legend=True, cmap='viridis')
plt.title('Office Employment Density Map of London LSOAs')
ax.set_axis_off()
plt.title('Office Employment Density Map of London LSOAs')
plt.savefig('Plots/from_code/stats_london/office_employment_density_map.png')
plt.close(fig)

# POI density
all_data_cleaned['poi_density'] = all_data_cleaned['num_places'] / (all_data_cleaned['geometry']).to_crs("EPSG:27700").area

fig, ax = plt.subplots(1, 1, figsize=(10, 10))
all_data_cleaned.plot(ax=ax, column='poi_density', legend=True, cmap='viridis')
plt.title('Overture POI Density Map of London LSOAs')
ax.set_axis_off()
plt.title('Overture POI Density Map of London LSOAs')
plt.savefig('Plots/from_code/stats_london/poi_density_map.png')
plt.close(fig)

# POI Counts
fig, ax = plt.subplots(1, 1, figsize=(10, 10))
all_data_cleaned.plot(ax=ax, column='num_places', legend=True, cmap='viridis')
plt.title('Overture POI Count Map of London LSOAs')
ax.set_axis_off()
plt.title('Overture POI Count Map of London LSOAs')
plt.savefig('Plots/from_code/stats_london/poi_count_map.png')
plt.close(fig)

# Log POI Counts
fig, ax = plt.subplots(1, 1, figsize=(10, 10))
all_data_cleaned.plot(ax=ax, column='log_num_places', legend=True, cmap='viridis')
plt.title('(log) Overture POI Count Map of London LSOAs')
ax.set_axis_off()
plt.title('(log) Overture POI Count Map of London LSOAs')
plt.savefig('Plots/from_code/stats_london/log_poi_count_map.png')
plt.close(fig)

KeyError: 'log_total_employment'