# Test Full Code with Birmingham
### Gavin Rolls

This notebook will be a compilation of the methods I've applied to London as my area of study and attempt to recreate the model in Birmingham

# Data Collection

### Imports + Database Configuration

In [23]:
#Library Imports - using DuckDB for Overture Import

#Database
import duckdb

#Basics
import pandas as pd
import geopandas as gpd
from geopy.geocoders import Nominatim

#OpenStreetMap
import osmnx as ox

#Shapely
from geopy.geocoders import Nominatim
from shapely.geometry import box
from shapely import wkt
import shapely.geometry
from shapely.geometry import Polygon, MultiPolygon
from shapely.geometry import mapping
from shapely.geometry import shape

#Plots
import matplotlib.pyplot as plt

#Warning Supression
import warnings

In [3]:
#Config SQL
%pip install ipython-sql duckdb duckdb-engine jupysql --quiet
%pip install --upgrade grpcio --quiet
%load_ext sql

Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.

In [5]:
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False
%sql duckdb:///:memory:

In [6]:
%%sql      
INSTALL httpfs;

LOAD httpfs;

INSTALL spatial;

LOAD spatial;

SET s3_region='us-west-2';

Empty DataFrame
Columns: [Success]
Index: []

### Download Buildings - Overture

Downloaded as 'data/bham_buildings_overture.geojson'

In [12]:
#Get Birmingham Bounding Box

# Initialize the geolocator
geolocator = Nominatim(user_agent="geoapi")

# Get location data
location = geolocator.geocode("Birmingham")

# Get the bounding box
bounding_box = location.raw['boundingbox']

# Convert bounding box to coordinates
min_lat, max_lat = float(bounding_box[0]), float(bounding_box[1])
min_lon, max_lon = float(bounding_box[2]), float(bounding_box[3])

print(min_lon)
print(min_lat)
print(max_lon)
print(max_lat)

-2.0336486
52.381053
-1.7288417
52.6087058

In [14]:
%%sql

LOAD azure;

SET azure_storage_connection_string = 'DefaultEndpointsProtocol=https;AccountName=overturemapswestus2;AccountKey=;EndpointSuffix=core.windows.net';
COPY (
SELECT
    names.primary as primary_name,
    height,
    level,
    ST_GeomFromWKB(geometry) as geometry
FROM read_parquet('azure://release/2024-05-16-beta.0/theme=buildings/type=building/*', filename=true, hive_partitioning=1)
WHERE primary_name IS NOT NULL
AND bbox.xmin > -2.0336486
AND bbox.xmax < -1.7288417
AND bbox.ymin > 52.381053
AND bbox.ymax < 52.6087058
) TO 'data/overture_data/bham_buildings_overture.geojson'
WITH (FORMAT GDAL, DRIVER 'GeoJSON', SRS 'EPSG:4326');

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Empty DataFrame
Columns: [Success]
Index: []

### Download POIs - Overture

Downloaded as 'data/bham_places_overture.geojson''

In [15]:
%%sql

COPY (
    SELECT
        names.primary AS name,
        categories.main as category,
        ROUND(confidence,2) as confidence,
        ST_GeomFromWKB(geometry) as geometry
FROM read_parquet('s3://overturemaps-us-west-2/release/2024-05-16-beta.0/theme=places/*/*')
WHERE
    bbox.xmin BETWEEN -2.0336486 AND -1.7288417 AND
    bbox.ymin BETWEEN 52.381053 AND 52.6087058
) TO 'data/overture_data/bham_places_overture.geojson' WITH (FORMAT GDAL, DRIVER 'GeoJSON', SRS 'EPSG:4326');

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Empty DataFrame
Columns: [Success]
Index: []

### Overture Download Stats

In [35]:
#Basic overview stats of Birmingham Data - Using the locally saved files here
buildings = gpd.read_file('data/overture_data/bham_buildings_overture.geojson')
places = gpd.read_file('data/overture_data/bham_places_overture.geojson')

#Count of Features
print("Birmingham Building Count: " + str(buildings.shape[0]))
print("Birmingham POI count: " + str(places.shape[0]))

Birmingham Building Count: 11987
Birmingham POI count: 46781

### Download Buildings - OSM

Downloaded as 'data/osmbuildings/building_footprints.geojson'

In [36]:
#Download Data for Birmingham
place_name = 'Birmingham, United Kingdom'

#Test new config
ox.config(use_cache=True, log_console=True)

buildings = ox.features_from_place(place_name, tags={'building': True})
buildings = buildings[buildings.geometry.notnull()]
building_footprints = buildings[buildings.geom_type.isin(['Polygon', 'MultiPolygon'])]

for col in building_footprints.columns:
    if building_footprints.apply(lambda x: isinstance(x, list)).any():
        building_footprints = building_footprints[col].apply(lambda x: str(x) if isinstance(x, list) else x)

building_footprints = building_footprints[['name', 'geometry']].reset_index()
print(building_footprints)
        
# Save the combined GeoDataFrame to a geojson file
building_footprints.to_file("data/osm_data/bham_buildings.geojson", driver="GeoJSON")

/var/folders/2b/877nyyk109x4dd8hgx4ckwl40000gn/T/ipykernel_92764/2788206819.py:5: UserWarning: The `utils.config` function is deprecated and will be removed in a future release. Instead, use the `settings` module directly to configure a global setting's value. For example, `ox.settings.log_console=True`.
  ox.config(use_cache=True, log_console=True)

       element_type     osmid                                          name  \
0               way  16966777                                           NaN
1               way  16966784                                           NaN
2               way  16966785                                           NaN
3               way  16966788                                           NaN
4               way  16966789                                           NaN
...             ...       ...                                           ...
256261     relation  15607352                   Beauchamp Convenience Store
256262     relation  15809922                                       Block A
256263     relation  15823526                                           NaN
256264     relation  16414329  Birmingham Settlement - 610 Community Centre
256265     relation  16542773                                           NaN

                                                 geometry
0       POLYGON ((-1.82461 52.55549, -1.82450 52.55543...
1       POLYGON ((-1.82324 52.55438, -1.82301 52.55434...
2       POLYGON ((-1.82273 52.55403, -1.82264 52.55400...
3       POLYGON ((-1.82341 52.55414, -1.82338 52.55412...
4       POLYGON ((-1.82311 52.55396, -1.82302 52.55391...
...                                                   ...
256261  POLYGON ((-1.92972 52.52606, -1.92979 52.52609...
256262  POLYGON ((-1.93083 52.48658, -1.93080 52.48673...
256263  POLYGON ((-1.88463 52.48027, -1.88471 52.48021...
256264  MULTIPOLYGON (((-1.88578 52.54762, -1.88548 52...
256265  POLYGON ((-1.87999 52.45025, -1.88014 52.45032...

[256266 rows x 4 columns]

### Extract Building Type Info from OSM - Commercial

In [37]:
#Download Data for Birmingham
place_name = 'Birmingham, United Kingdom'

commercial_buildings = ox.features_from_place(place_name, tags={'building': ['commercial']})

commercial_buildings = commercial_buildings[commercial_buildings.geometry.notnull()]
commercial_building_footprints = commercial_buildings[commercial_buildings.geom_type.isin(['Polygon', 'MultiPolygon'])]

for col in commercial_building_footprints.columns:
    if commercial_building_footprints.apply(lambda x: isinstance(x, list)).any():
        commercial_building_footprints = commercial_building_footprints[col].apply(lambda x: str(x) if isinstance(x, list) else x)

commercial_building_footprints = commercial_building_footprints[['name', 'geometry']].reset_index()
print(commercial_building_footprints)
        
# Save the combined GeoDataFrame to a geojson file
commercial_building_footprints.to_file("data/osm_data/bham_commercial_buildings.geojson", driver="GeoJSON")

    element_type       osmid                     name  \
0            way    17405658                      NaN
1            way    20002347  Dental Care Partnership
2            way    22763584            Station House
3            way    22763760                      NaN
4            way    22763952                      NaN
..           ...         ...                      ...
312          way  1259115143                      NaN
313          way  1259115144                      NaN
314          way  1259115145                      NaN
315     relation      333915      The Custard Factory
316     relation     7076030                Eagle Two

                                              geometry
0    POLYGON ((-1.82146 52.56186, -1.82179 52.56209...
1    POLYGON ((-1.82680 52.55679, -1.82680 52.55680...
2    POLYGON ((-1.82027 52.56533, -1.82036 52.56528...
3    POLYGON ((-1.81624 52.56247, -1.81633 52.56237...
4    POLYGON ((-1.82061 52.56543, -1.82042 52.56531...
..                                                 ...
312  POLYGON ((-1.82325 52.58782, -1.82327 52.58774...
313  POLYGON ((-1.82330 52.58783, -1.82336 52.58783...
314  POLYGON ((-1.82324 52.58774, -1.82321 52.58785...
315  POLYGON ((-1.88473 52.47478, -1.88489 52.47480...
316  POLYGON ((-1.76134 52.45196, -1.76146 52.45178...

[317 rows x 4 columns]

### Extract Building Type Info from OSM - Office

In [39]:
#Download Data for Birmingham
place_name = 'Birmingham, United Kingdom'

ox.config(use_cache=True, log_console=True)

office_buildings = ox.features_from_place(place_name, tags={'building': ['office']})

office_buildings = office_buildings[office_buildings.geometry.notnull()]
office_building_footprints = office_buildings[office_buildings.geom_type.isin(['Polygon', 'MultiPolygon'])]

for col in office_building_footprints.columns:
    if office_building_footprints.apply(lambda x: isinstance(x, list)).any():
        office_building_footprints[col] = office_building_footprints[col].apply(lambda x: str(x) if isinstance(x, list) else x)

office_building_footprints = office_building_footprints[['name', 'geometry']].reset_index()
print(office_building_footprints)
        
# Save the combined GeoDataFrame to a geojson file
office_building_footprints.to_file("data/osm_data/bham_office_buildings.geojson", driver="GeoJSON")

    element_type     osmid                     name  \
0            way  22820818        Baskerville House
1            way  28292471     No. 1 Colmore Square
2            way  28425056         McLaren Building
3            way  28455010        Gazette Buildings
4            way  28514237                      NaN
..           ...       ...                      ...
190     relation   1298933           Fountain Court
191     relation   3417218     Eight Brindley Place
192     relation   3417219     Seven Brindley Place
193     relation   3417220       Ten Brindley Place
194     relation   4631334  Birmingham Royal Ballet

                                              geometry
0    POLYGON ((-1.90809 52.48018, -1.90735 52.48039...
1    POLYGON ((-1.89668 52.48235, -1.89675 52.48258...
2    POLYGON ((-1.89265 52.48192, -1.89247 52.48183...
3    POLYGON ((-1.89313 52.48261, -1.89339 52.48236...
4    POLYGON ((-1.90172 52.47568, -1.90125 52.47528...
..                                                 ...
190  POLYGON ((-1.89569 52.48439, -1.89483 52.48385...
191  POLYGON ((-1.91369 52.47690, -1.91353 52.47703...
192  POLYGON ((-1.91369 52.47690, -1.91374 52.47692...
193  POLYGON ((-1.91318 52.47666, -1.91301 52.47679...
194  POLYGON ((-1.89864 52.47415, -1.89868 52.47417...

[195 rows x 4 columns]

/var/folders/2b/877nyyk109x4dd8hgx4ckwl40000gn/T/ipykernel_92764/2941556620.py:4: UserWarning: The `utils.config` function is deprecated and will be removed in a future release. Instead, use the `settings` module directly to configure a global setting's value. For example, `ox.settings.log_console=True`.
  ox.config(use_cache=True, log_console=True)

### Extract Building Type Info from OSM - Residential

In [40]:
#Download Data for Birmingham
place_name = 'Birmingham, United Kingdom'

ox.config(use_cache=True, log_console=True)

residential_buildings = ox.features_from_place(place_name, tags={'building': ['residential']})

residential_buildings = residential_buildings[residential_buildings.geometry.notnull()]
residential_building_footprints = residential_buildings[residential_buildings.geom_type.isin(['Polygon', 'MultiPolygon'])]

for col in residential_building_footprints.columns:
    if residential_building_footprints.apply(lambda x: isinstance(x, list)).any():
        residential_building_footprints[col] = residential_building_footprints[col].apply(lambda x: str(x) if isinstance(x, list) else x)

residential_building_footprints = residential_building_footprints[['name', 'geometry']].reset_index()
print(residential_building_footprints)
        
# Save the combined GeoDataFrame to a geojson file
residential_building_footprints.to_file("data/osm_data/bham_residential_buildings.geojson", driver="GeoJSON")

/var/folders/2b/877nyyk109x4dd8hgx4ckwl40000gn/T/ipykernel_92764/2012114761.py:4: UserWarning: The `utils.config` function is deprecated and will be removed in a future release. Instead, use the `settings` module directly to configure a global setting's value. For example, `ox.settings.log_console=True`.
  ox.config(use_cache=True, log_console=True)

       element_type     osmid           name  \
0               way  16966777            NaN
1               way  16966784            NaN
2               way  16966785            NaN
3               way  16966788            NaN
4               way  16966789            NaN
...             ...       ...            ...
189381     relation  10407216            NaN
189382     relation  11382596  Bentley House
189383     relation  12197160            NaN
189384     relation  15809922        Block A
189385     relation  16542773            NaN

                                                 geometry
0       POLYGON ((-1.82461 52.55549, -1.82450 52.55543...
1       POLYGON ((-1.82324 52.55438, -1.82301 52.55434...
2       POLYGON ((-1.82273 52.55403, -1.82264 52.55400...
3       POLYGON ((-1.82341 52.55414, -1.82338 52.55412...
4       POLYGON ((-1.82311 52.55396, -1.82302 52.55391...
...                                                   ...
189381  POLYGON ((-1.91643 52.48526, -1.91565 52.48489...
189382  POLYGON ((-1.89049 52.48919, -1.89057 52.48909...
189383  POLYGON ((-1.85970 52.54240, -1.85965 52.54241...
189384  POLYGON ((-1.93083 52.48658, -1.93080 52.48673...
189385  POLYGON ((-1.87999 52.45025, -1.88014 52.45032...

[189386 rows x 4 columns]

### Extract Building Type Info from OSM - Retail

In [41]:
#Download Data for Birmingham
place_name = 'Birmingham, United Kingdom'

ox.config(use_cache=True, log_console=True)

retail_buildings = ox.features_from_place(place_name, tags={'building': ['retail']})

retail_buildings = retail_buildings[retail_buildings.geometry.notnull()]
retail_building_footprints = retail_buildings[retail_buildings.geom_type.isin(['Polygon', 'MultiPolygon'])]

for col in retail_building_footprints.columns:
    if retail_building_footprints.apply(lambda x: isinstance(x, list)).any():
        retail_building_footprints[col] = retail_building_footprints[col].apply(lambda x: str(x) if isinstance(x, list) else x)

retail_building_footprints = retail_building_footprints[['name', 'geometry']].reset_index()
print(retail_building_footprints)
        
# Save the combined GeoDataFrame to a geojson file
retail_building_footprints.to_file("data/osm_data/bham_retail_buildings.geojson", driver="GeoJSON")

/var/folders/2b/877nyyk109x4dd8hgx4ckwl40000gn/T/ipykernel_92764/291704794.py:4: UserWarning: The `utils.config` function is deprecated and will be removed in a future release. Instead, use the `settings` module directly to configure a global setting's value. For example, `ox.settings.log_console=True`.
  ox.config(use_cache=True, log_console=True)

     element_type     osmid                         name  \
0             way  16969083                        Boots
1             way  17273169                          NaN
2             way  20002348                  Vesey Manor
3             way  20002352             Driffold Gallery
4             way  23585174                     One Stop
...           ...       ...                          ...
3499     relation   2912290                  Sainsbury's
3500     relation   5536524                Grand Central
3501     relation  10748407             Picadilly Arcade
3502     relation  14397641                          NaN
3503     relation  15607352  Beauchamp Convenience Store

                                               geometry
0     POLYGON ((-1.82369 52.55768, -1.82379 52.55771...
1     POLYGON ((-1.89325 52.47748, -1.89313 52.47745...
2     POLYGON ((-1.82665 52.55648, -1.82665 52.55630...
3     POLYGON ((-1.82722 52.55565, -1.82734 52.55554...
4     POLYGON ((-1.90532 52.51745, -1.90573 52.51726...
...                                                 ...
3499  POLYGON ((-1.89359 52.43096, -1.89362 52.43129...
3500  POLYGON ((-1.89913 52.47742, -1.89929 52.47746...
3501  POLYGON ((-1.90020 52.47878, -1.90015 52.47907...
3502  POLYGON ((-1.92005 52.43149, -1.92003 52.43152...
3503  POLYGON ((-1.92972 52.52606, -1.92979 52.52609...

[3504 rows x 4 columns]

# Data Cleaning
### Taken from v2

## Data Loading + Cleaning

### UK BRES Employment Data

In [53]:
#Skip the first six rows because they're header information
empl_data = pd.read_csv('data/employment_data/lsoa_by_industry.csv', skiprows=7, delimiter=',')

unnamed_cols = empl_data.columns[empl_data.columns.str.contains('^Unnamed:')]
empl_data.drop(columns=unnamed_cols, inplace=True)

#Separate name into LSOA11CD and LSOA11NM
def split_column(value):
    if isinstance(value, str) and 'lsoa2011:' in value:
        parts = value.split('lsoa2011:')[1]
        code, name = parts.split(' : ')
        return code.strip(), name.strip()
    else:
        return None, None

empl_data[['LSOA11CD', 'LSOA11NM']] = empl_data['Area'].apply(lambda x: pd.Series(split_column(x)))

# Drop rows not in Birmingham
empl_data.dropna(subset=['LSOA11NM'], inplace=True)
empl_data = empl_data[empl_data['LSOA11NM'].str.contains('Birmingham')]

print("Num Rows (LSOAs) Before Cleaning: " + str(empl_data.shape[0]))

#There appear to be a bunch of duplicates so I'm going to get rid of them now
empl_data.drop_duplicates(inplace=True)

print("Num Rows (LSOAs) After Cleaning: " + str(empl_data.shape[0]))

Num Rows (LSOAs) Before Cleaning: 639
Num Rows (LSOAs) After Cleaning: 639

In [55]:
#Create Total Employment Column
empl_data['total_employment'] = empl_data[empl_data.columns[1:-2]].sum(axis=1)

empl_data.head()

,Area,"01 : Crop and animal production, hunting and related service activities",02 : Forestry and logging,03 : Fishing and aquaculture,05 : Mining of coal and lignite,06 : Extraction of crude petroleum and natural gas,07 : Mining of metal ores,08 : Other mining and quarrying,09 : Mining support service activities,10 : Manufacture of food products,...,93 : Sports activities and amusement and recreation activities,94 : Activities of membership organisations,95 : Repair of computers and personal and household goods,96 : Other personal service activities,97 : Activities of households as employers of domestic personnel,98 : Undifferentiated goods- and services-producing activities of private households for own use,99 : Activities of extraterritorial organisations and bodies,LSOA11CD,LSOA11NM,total_employment
13485,lsoa2011:E01008881 : Birmingham 067A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,0.0,0.0,0.0,E01008881,Birmingham 067A,455.0
13486,lsoa2011:E01008882 : Birmingham 066A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,E01008882,Birmingham 066A,30.0
13487,lsoa2011:E01008883 : Birmingham 078A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150.0,...,0.0,20.0,0.0,0.0,0.0,0.0,0.0,E01008883,Birmingham 078A,1810.0
13488,lsoa2011:E01008884 : Birmingham 078B,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,...,0.0,0.0,5.0,40.0,0.0,0.0,0.0,E01008884,Birmingham 078B,2590.0
13489,lsoa2011:E01008885 : Birmingham 076A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,15.0,0.0,0.0,0.0,E01008885,Birmingham 076A,90.0

### LSOA Geographic Data

In [ ]:
#Get LSOA Shapefile Data
lsoa_geo = gpd.read_file('data/lsoa_data/LSOA_2011_EW_BFE_V3.shp')

#Convert to WGS for consistency
lsoa_geo = lsoa_geo.to_crs(epsg=4326)

print("Num Rows (LSOAs): " + str(lsoa_geo.shape[0]))

#Get rid of columns I'm not using for now
lsoa_geo = lsoa_geo.drop(columns=['BNG_E', 'BNG_N', 'LONG_', 'LAT', 'GlobalID', 'Shape_Leng', 'Unnamed: 2'])

#Join with population
lsoa_pop = pd.read_csv('data/lsoa_data/lsoa_pop.csv')

lsoa_geo.drop(columns=['LSOA11NM'])

#Get population estimates - had to be pulled in from separate Census dataset
lsoa_geo = lsoa_geo.merge(lsoa_pop, on='LSOA11CD')

lsoa_geo.head()

### Overture Places Data

In [58]:
overture_places = gpd.read_file('data/overture_data/bham_places_overture.geojson')

print('Number of POIs in Overture (Birmingham): ' + str(overture_places.shape[0]))
overture_places.head()

Number of POIs in Overture (Birmingham): 46781

,name,category,confidence,geometry
0,Beacon Hill Toposcope,landmark_and_historical_building,0.96,POINT (-2.01965 52.38213)
1,Lickey Hills Country Park - Beacon Hill,park,0.67,POINT (-2.01972 52.38229)
2,Lickey Monument,monument,0.55,POINT (-2.01956 52.38227)
3,Beacon Castle,park,0.67,POINT (-2.01961 52.38234)
4,Barnett Fair Unisex Hairdressing,beauty_salon,0.96,POINT (-2.00227 52.38278)

### OpenStreetMap Buildings Data

I will query each set of building types and then collapse the dataset down so that tags are preserved

In [59]:
osm_all_buildings = gpd.read_file('data/osm_data/bham_buildings.geojson')

print('Number of Buildings in OSM (Birmingham): ' + str(osm_all_buildings.shape[0]))
osm_all_buildings.head()

Number of Buildings in OSM (Birmingham): 256266

,element_type,osmid,name,geometry
0,way,16966777,None,"POLYGON ((-1.82461 52.55549, -1.82450 52.55543..."
1,way,16966784,None,"POLYGON ((-1.82324 52.55438, -1.82301 52.55434..."
2,way,16966785,None,"POLYGON ((-1.82273 52.55403, -1.82264 52.55400..."
3,way,16966788,None,"POLYGON ((-1.82341 52.55414, -1.82338 52.55412..."
4,way,16966789,None,"POLYGON ((-1.82311 52.55396, -1.82302 52.55391..."

In [62]:
# Commercial Buildings

osm_commercial_buildings = gpd.read_file('data/osm_data/bham_commercial_buildings.geojson')

print('Number of Commercial Buildings in OSM (Birmingham): ' + str(osm_commercial_buildings.shape[0]))
osm_commercial_buildings.head()

Number of Commercial Buildings in OSM (Birmingham): 317

,element_type,osmid,name,geometry
0,way,17405658,None,"POLYGON ((-1.82146 52.56186, -1.82179 52.56209..."
1,way,20002347,Dental Care Partnership,"POLYGON ((-1.82680 52.55679, -1.82680 52.55680..."
2,way,22763584,Station House,"POLYGON ((-1.82027 52.56533, -1.82036 52.56528..."
3,way,22763760,None,"POLYGON ((-1.81624 52.56247, -1.81633 52.56237..."
4,way,22763952,None,"POLYGON ((-1.82061 52.56543, -1.82042 52.56531..."

In [64]:
# Office Buildings

osm_office_buildings = gpd.read_file('data/osm_data/bham_office_buildings.geojson')

print('Number of Office Buildings in OSM (Birmingham): ' + str(osm_office_buildings.shape[0]))
osm_office_buildings.head()

Number of Office Buildings in OSM (Birmingham): 195

,element_type,osmid,name,geometry
0,way,22820818,Baskerville House,"POLYGON ((-1.90809 52.48018, -1.90735 52.48039..."
1,way,28292471,No. 1 Colmore Square,"POLYGON ((-1.89668 52.48235, -1.89675 52.48258..."
2,way,28425056,McLaren Building,"POLYGON ((-1.89265 52.48192, -1.89247 52.48183..."
3,way,28455010,Gazette Buildings,"POLYGON ((-1.89313 52.48261, -1.89339 52.48236..."
4,way,28514237,None,"POLYGON ((-1.90172 52.47568, -1.90125 52.47528..."

In [66]:
# Residential Buildings

osm_residential_buildings = gpd.read_file('data/osm_data/bham_residential_buildings.geojson')

print('Number of Residential Buildings in OSM (Birmingham): ' + str(osm_residential_buildings.shape[0]))
osm_residential_buildings.head()

Number of Residential Buildings in OSM (Birmingham): 189386

,element_type,osmid,name,geometry
0,way,16966777,None,"POLYGON ((-1.82461 52.55549, -1.82450 52.55543..."
1,way,16966784,None,"POLYGON ((-1.82324 52.55438, -1.82301 52.55434..."
2,way,16966785,None,"POLYGON ((-1.82273 52.55403, -1.82264 52.55400..."
3,way,16966788,None,"POLYGON ((-1.82341 52.55414, -1.82338 52.55412..."
4,way,16966789,None,"POLYGON ((-1.82311 52.55396, -1.82302 52.55391..."

In [67]:
# Retail Buildings

osm_retail_buildings = gpd.read_file('data/osm_data/bham_retail_buildings.geojson')

print('Number of Retail Buildings in OSM (Birmingham): ' + str(osm_retail_buildings.shape[0]))
osm_retail_buildings.head()

Number of Retail Buildings in OSM (Birmingham): 3504

,element_type,osmid,name,geometry
0,way,16969083,Boots,"POLYGON ((-1.82369 52.55768, -1.82379 52.55771..."
1,way,17273169,None,"POLYGON ((-1.89325 52.47748, -1.89313 52.47745..."
2,way,20002348,Vesey Manor,"POLYGON ((-1.82665 52.55648, -1.82665 52.55630..."
3,way,20002352,Driffold Gallery,"POLYGON ((-1.82722 52.55565, -1.82734 52.55554..."
4,way,23585174,One Stop,"POLYGON ((-1.90532 52.51745, -1.90573 52.51726..."

In [68]:
# Assign a building type in the main DataFrame if the osmid is found in one of the other DataFrames

# I know that office and retail buildings could have commercial or office but office and retail will overwrite commercia
# (and are thus checked after) because they're more specific

osm_all_buildings['building_type'] = 'none'

osm_all_buildings.loc[osm_all_buildings['osmid'].isin(osm_commercial_buildings['osmid']), 'building_type'] = 'commercial'
osm_all_buildings.loc[osm_all_buildings['osmid'].isin(osm_retail_buildings['osmid']), 'building_type'] = 'retail'
osm_all_buildings.loc[osm_all_buildings['osmid'].isin(osm_office_buildings['osmid']), 'building_type'] = 'office'
osm_all_buildings.loc[osm_all_buildings['osmid'].isin(osm_residential_buildings['osmid']), 'building_type'] = 'residential'

osm_all_buildings.head(50)

,element_type,osmid,name,geometry,building_type
0,way,16966777,None,"POLYGON ((-1.82461 52.55549, -1.82450 52.55543...",residential
1,way,16966784,None,"POLYGON ((-1.82324 52.55438, -1.82301 52.55434...",residential
2,way,16966785,None,"POLYGON ((-1.82273 52.55403, -1.82264 52.55400...",residential
3,way,16966788,None,"POLYGON ((-1.82341 52.55414, -1.82338 52.55412...",residential
4,way,16966789,None,"POLYGON ((-1.82311 52.55396, -1.82302 52.55391...",residential
5,way,16966791,None,"POLYGON ((-1.82282 52.55433, -1.82266 52.55431...",residential
6,way,16966794,Royal (Proposed),"POLYGON ((-1.82619 52.55661, -1.82611 52.55650...",none
7,way,16966799,None,"POLYGON ((-1.82425 52.55803, -1.82413 52.55804...",residential
8,way,16966800,James Preston Health Centre,"POLYGON ((-1.82348 52.55799, -1.82331 52.55823...",none
9,way,16966807,None,"POLYGON ((-1.82428 52.55791, -1.82431 52.55807...",residential
10,way,16967650,Elmsdale Social Club,"POLYGON ((-1.82219 52.55678, -1.82209 52.55685...",none
11,way,16968169,None,"POLYGON ((-1.82254 52.55428, -1.82243 52.55424...",residential
12,way,16969083,Boots,"POLYGON ((-1.82369 52.55768, -1.82379 52.55771...",retail
13,way,17057288,St Peters Maney,"POLYGON ((-1.82589 52.55471, -1.82601 52.55471...",none
14,way,17057290,St Peters Church Hall,"POLYGON ((-1.82601 52.55471, -1.82589 52.55471...",none
15,way,17246127,None,"POLYGON ((-1.82499 52.55905, -1.82500 52.55901...",residential
16,way,17246130,None,"POLYGON ((-1.82461 52.55903, -1.82473 52.55904...",residential
17,way,17246136,None,"POLYGON ((-1.82480 52.55965, -1.82489 52.55969...",residential
18,way,17246137,None,"POLYGON ((-1.82400 52.55932, -1.82410 52.55925...",residential
19,way,17272404,Birmingham Moor Street,"POLYGON ((-1.89124 52.47864, -1.89127 52.47861...",none
20,way,17273169,None,"POLYGON ((-1.89325 52.47748, -1.89313 52.47745...",retail
21,way,17405648,Sutton Arts Theatre,"POLYGON ((-1.82103 52.56046, -1.82124 52.56059...",none
22,way,17405654,Seymour Day Centre,"POLYGON ((-1.82059 52.56016, -1.82081 52.56003...",none
23,way,17405657,Methodist Church,"POLYGON ((-1.82030 52.56046, -1.82012 52.56035...",none
24,way,17405658,None,"POLYGON ((-1.82146 52.56186, -1.82179 52.56209...",commercial
25,way,17504663,Cathedral Church of Saint Philip,"POLYGON ((-1.89924 52.48125, -1.89923 52.48121...",none
26,way,19375924,SCC Building 7,"POLYGON ((-1.85363 52.45465, -1.85373 52.45458...",none
27,way,19376092,SCC Cole Valley 1,"POLYGON ((-1.85334 52.45203, -1.85390 52.45179...",none
28,way,19787067,Mereway,"POLYGON ((-1.83342 52.45817, -1.83183 52.45722...",none
29,way,19787068,SONAS Automotive,"POLYGON ((-1.83570 52.45828, -1.83512 52.45800...",none
30,way,19787069,Bestway Cash & Carry,"POLYGON ((-1.83618 52.45772, -1.83525 52.45716...",none
31,way,19787070,ThyssenKrupp Aerospace,"POLYGON ((-1.83486 52.45700, -1.83424 52.45656...",none
32,way,19788531,Park Gate,"POLYGON ((-1.78925 52.45380, -1.78861 52.45363...",residential
33,way,19836643,SCC Cole Valley 2,"POLYGON ((-1.85631 52.45191, -1.85621 52.45130...",none
34,way,20002335,None,"POLYGON ((-1.82671 52.55503, -1.82678 52.55494...",residential
35,way,20002336,None,"POLYGON ((-1.82667 52.55538, -1.82682 52.55544...",residential
36,way,20002339,None,"POLYGON ((-1.82695 52.55531, -1.82680 52.55526...",residential
37,way,20002340,None,"POLYGON ((-1.82715 52.55508, -1.82699 52.55504...",residential
38,way,20002341,Ye Olde Stone House,"POLYGON ((-1.82644 52.55521, -1.82624 52.55515...",residential
39,way,20002342,Vicarage,"POLYGON ((-1.82602 52.55523, -1.82597 52.55521...",residential
40,way,20002347,Dental Care Partnership,"POLYGON ((-1.82680 52.55679, -1.82680 52.55680...",commercial
41,way,20002348,Vesey Manor,"POLYGON ((-1.82665 52.55648, -1.82665 52.55630...",retail
42,way,20002350,None,"POLYGON ((-1.82706 52.55581, -1.82706 52.55588...",residential
43,way,20002352,Driffold Gallery,"POLYGON ((-1.82722 52.55565, -1.82734 52.55554...",retail
44,way,20002353,None,"POLYGON ((-1.82808 52.55568, -1.82783 52.55572...",residential
45,way,20004717,None,"POLYGON ((-1.82800 52.55510, -1.82797 52.55506...",none
46,way,21329277,Ebrook Resource Centre,"POLYGON ((-1.81562 52.55317, -1.81559 52.55303...",residential
47,way,21816762,Europackaging Plc,"POLYGON ((-1.82719 52.46160, -1.82588 52.46070...",none
48,way,21818384,West Midlands RailwayTyseley,"POLYGON ((-1.84685 52.45453, -1.84677 52.45456...",none
49,way,21819997,Veolia Energy from Waste Plant,"POLYGON ((-1.84469 52.46031, -1.84431 52.46012...",none

## Data Joining + Prep

### Joining LSOA Geography and Employment Data

In [ ]:
#Note that total Birmingham statistics are dropped here because there's no equivalent column in lsoa_geo
empl_geog = pd.merge(lsoa_geo, empl_data, on = "LSOA11CD")

print("Num Rows (LSOAS): " + str(empl_geog.shape[0]))

empl_geog.head()