## Dissertation Dataset Exploration (v2)
### Gavin Rolls

I've queried OSM data using different building type indicators. I'll give some additional modelling/exploration a try here

## Imports and Clean Up

In [4]:
# Library Imports

#Basics
import pandas as pd
import geopandas as gpd
import numpy as np

#Shapely
from shapely import wkt
import shapely.geometry
from shapely.geometry import Polygon, MultiPolygon

#Plots and Stats
import matplotlib.pyplot as plt
import seaborn as sns

#Machine Learning
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder

#ML from mljar-supervised
from supervised.automl import AutoML

#Warning Supression
import warnings

In [181]:
# Import Cleaned Employment Geography File (Version 2)

empl_geog = gpd.read_file('data/combined_data_v2/empl_geog.geojson')

# WKT strings back to Shapely geometries
empl_geog['building_poly'] = empl_geog['building_poly'].apply(lambda x: shapely.wkt.loads(x) if isinstance(x, str) else x)
empl_geog['commercial_building_poly'] = empl_geog['commercial_building_poly'].apply(lambda x: shapely.wkt.loads(x) if isinstance(x, str) else x)
empl_geog['retail_building_poly'] = empl_geog['retail_building_poly'].apply(lambda x: shapely.wkt.loads(x) if isinstance(x, str) else x)
empl_geog['office_building_poly'] = empl_geog['office_building_poly'].apply(lambda x: shapely.wkt.loads(x) if isinstance(x, str) else x)
empl_geog['residential_building_poly'] = empl_geog['residential_building_poly'].apply(lambda x: shapely.wkt.loads(x) if isinstance(x, str) else x)

empl_geog['place_points'] = empl_geog['place_points'].apply(lambda x: shapely.wkt.loads(x) if isinstance(x, str) else x)
# Convert string representations of lists back to lists
empl_geog['category_list'] = empl_geog['category_list'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

empl_geog.head()

,LSOA11CD,LSOA11NM_x,population,Area,"01 : Crop and animal production, hunting and related service activities",02 : Forestry and logging,03 : Fishing and aquaculture,05 : Mining of coal and lignite,06 : Extraction of crude petroleum and natural gas,07 : Mining of metal ores,...,num_office_buildings,num_places,building_poly,commercial_building_poly,retail_building_poly,office_building_poly,residential_building_poly,place_points,category_list,geometry
0,E01000001,City of London 001A,1465,lsoa2011:E01000001 : City of London 001A,0,0,0,0,10,0,...,0,243,"MULTIPOLYGON (((-0.0983297 51.5158158, -0.0983...","MULTIPOLYGON (((-0.0966079 51.5147477, -0.0967...","MULTIPOLYGON (((-0.098412 51.5155493, -0.09835...",None,"MULTIPOLYGON (((-0.0980623 51.5182674, -0.0983...","MULTIPOINT ((-0.0987982 51.5176724), (-0.09860...","[pub, coffee_shop, immigration_law, shared_off...","POLYGON ((-0.09729 51.52158, -0.09652 51.52027..."
1,E01000002,City of London 001B,1436,lsoa2011:E01000002 : City of London 001B,0,0,0,0,0,0,...,0,419,"MULTIPOLYGON (((-0.0945314 51.5147658, -0.0944...","MULTIPOLYGON (((-0.0951296 51.5145545, -0.0951...","MULTIPOLYGON (((-0.0940575 51.5145934, -0.0940...",None,"MULTIPOLYGON (((-0.0936221 51.5181541, -0.0946...","MULTIPOINT ((-0.0958288 51.5168656), (-0.09565...","[business_manufacturing_and_supply, education,...","POLYGON ((-0.08813 51.51941, -0.08929 51.51752..."
2,E01000003,City of London 001C,1346,lsoa2011:E01000003 : City of London 001C,0,0,0,0,0,0,...,0,55,"MULTIPOLYGON (((-0.0959637 51.5209148, -0.0959...",None,"POLYGON ((-0.0959633 51.5209414, -0.0955256 51...",None,"MULTIPOLYGON (((-0.0959637 51.5209148, -0.0959...","MULTIPOINT ((-0.0976057 51.5226912), (-0.09757...","[health_and_medical, hospital, parking, indust...","POLYGON ((-0.09679 51.52325, -0.09647 51.52282..."
3,E01000005,City of London 001E,985,lsoa2011:E01000005 : City of London 001E,0,10,0,0,0,0,...,0,534,"MULTIPOLYGON (((-0.0757822 51.511071, -0.07577...","MULTIPOLYGON (((-0.0752739 51.5111313, -0.0754...","MULTIPOLYGON (((-0.0779263 51.5147252, -0.0780...","POLYGON ((-0.0731987 51.5118923, -0.0731919 51...",None,"MULTIPOINT ((-0.0799241 51.5156172), (-0.07992...","[professional_services, dance_club, insurance_...","POLYGON ((-0.07323 51.51000, -0.07553 51.50974..."
4,E01000006,Barking and Dagenham 016A,1703,lsoa2011:E01000006 : Barking and Dagenham 016A,0,0,0,0,0,0,...,0,11,"MULTIPOLYGON (((0.085895 51.5386732, 0.0859413...",None,None,None,None,"MULTIPOINT ((0.0856198 51.538706), (0.0858424 ...","[landmark_and_historical_building, constructio...","POLYGON ((0.09115 51.53909, 0.09326 51.53787, ..."

In [182]:
# Import Category Encoded File (POIs)

encoded_categories = pd.read_csv('data/combined_data/empl_geog_category_encoded.csv')

#Drop extraneous column
encoded_categories = encoded_categories.drop(columns=['Unnamed: 0'])

#Store category columns
category_columns = encoded_categories.columns[1:]

encoded_categories.head()

,LSOA11CD,category_list_3d_printing_service,category_list_abortion_clinic,category_list_abuse_and_addiction_treatment,category_list_accommodation,category_list_accountant,category_list_acoustical_consultant,category_list_active_life,category_list_acupuncture,category_list_addiction_rehabilitation_center,...,category_list_women's_clothing_store,category_list_women's_health_clinic,category_list_wood_and_pulp,category_list_woodworking_supply_store,category_list_writing_service,category_list_yoga_instructor,category_list_yoga_studio,category_list_youth_organizations,category_list_zoo,category_list_None
0,E01000001,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,E01000002,0.0,0.0,0.0,1.0,5.0,0.0,0.0,1.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,E01000003,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,E01000005,0.0,0.0,0.0,1.0,2.0,0.0,2.0,1.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,E01000006,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [310]:
# Geometric Features Extraction (copied from earlier but includes building types now)

#I'm going to exclude num polygons, average perimeter, and total perimeter cause they're not so helpful (cause Collinearity matrix shows its very close to count)

def extract_multipolygon_features(multipolygon, lsoa_geometry):
    if isinstance(multipolygon, MultiPolygon):
        polygons = list(multipolygon.geoms)
    elif isinstance(multipolygon, Polygon):
        polygons = [multipolygon]
    else:
        return pd.Series({
            'total_area': 0,
            'avg_building_area': 0,
            'lsoa_area_ratio': 0,
        })

    num_polygons = len(polygons)
    areas = [polygon.area for polygon in polygons]
    total_area = sum(areas)
    avg_building_area = total_area / num_polygons if num_polygons > 0 else 0

    #Built-up area ratio could result in a div by zero error if there are no buildings in an LSOA so this logic has to be included here
    try:
        lsoa_area_ratio = total_area / lsoa_geometry.area
    except ZeroDivisionError:
        lsoa_area_ratio = 0

    return pd.Series({
        'total_area': total_area,
        'lsoa_area_ratio': lsoa_area_ratio,
        'avg_building_area': avg_building_area,
    })

In [314]:
# All Buildings
all_buildings_geometry_features = empl_geog.apply(
    lambda row: extract_multipolygon_features(row['building_poly'], row['geometry']),
    axis=1
).add_prefix('all_')

# Residential
residential_buildings_geometry_features = empl_geog.apply(
    lambda row: extract_multipolygon_features(row['residential_building_poly'], row['geometry']),
    axis=1
).add_prefix('residential_')

# Commercial
commercial_buildings_geometry_features = empl_geog.apply(
    lambda row: extract_multipolygon_features(row['commercial_building_poly'], row['geometry']),
    axis=1
).add_prefix('commercial_')

# Office
office_buildings_geometry_features = empl_geog.apply(
    lambda row: extract_multipolygon_features(row['office_building_poly'], row['geometry']),
    axis=1
).add_prefix('office_')

# Retail
retail_buildings_geometry_features = empl_geog.apply(
    lambda row: extract_multipolygon_features(row['retail_building_poly'], row['geometry']),
    axis=1
).add_prefix('retail_')

# Combine all geometry features into one DataFrame
all_geom_features = pd.concat([
    all_buildings_geometry_features,
    residential_buildings_geometry_features,
    commercial_buildings_geometry_features,
    office_buildings_geometry_features,
    retail_buildings_geometry_features
], axis=1, ignore_index=False)

# Capture Column Names
geo_features = all_geom_features.columns

# Display the first 50 rows
all_geom_features.head(50)

,all_avg_building_area,all_lsoa_area_ratio,all_total_area,residential_avg_building_area,residential_lsoa_area_ratio,residential_total_area,commercial_avg_building_area,commercial_lsoa_area_ratio,commercial_total_area,office_avg_building_area,office_lsoa_area_ratio,office_total_area,retail_avg_building_area,retail_lsoa_area_ratio,retail_total_area
0,6.954275e-07,0.966502,1.669026e-05,1.142252e-07,0.026458,4.569009e-07,2.656669e-07,0.076921,1.328335e-06,0.000000e+00,0.000000,0.000000e+00,2.200346e-07,0.101934,1.760277e-06
1,4.409557e-07,0.722431,2.116588e-05,1.405123e-07,0.014388,4.215369e-07,2.245372e-07,0.099630,2.918983e-06,0.000000e+00,0.000000,0.000000e+00,4.283602e-07,0.131587,3.855242e-06
2,7.602040e-07,1.126545,8.362244e-06,1.051174e-07,0.056645,4.204698e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,1.375725e-07,0.018533,1.375725e-07
3,2.474802e-07,0.540976,1.336393e-05,0.000000e+00,0.000000,0.000000e+00,3.214321e-07,0.065058,1.607160e-06,2.773609e-08,0.001123,2.773609e-08,3.156538e-07,0.127778,3.156538e-06
4,1.598686e-07,0.179683,3.357240e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
5,7.216192e-08,0.275445,7.071869e-06,4.436179e-08,0.006911,1.774472e-07,0.000000e+00,0.000000,0.000000e+00,2.032864e-07,0.007918,2.032864e-07,5.505318e-08,0.004289,1.101064e-07
6,1.221800e-07,0.209613,5.253740e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,2.351580e-07,0.009382,2.351580e-07,2.354605e-08,0.000939,2.354605e-08
7,8.681309e-08,0.317807,5.295598e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,5.894408e-08,0.021225,3.536645e-07,0.000000e+00,0.000000,0.000000e+00
8,1.452742e-07,0.298902,1.351050e-05,5.623035e-08,0.007464,3.373821e-07,6.004655e-08,0.002657,1.200931e-07,1.248022e-07,0.057983,2.620846e-06,8.596902e-08,0.009510,4.298451e-07
9,1.955352e-08,0.243971,2.854813e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
10,4.539478e-08,0.222131,4.040135e-06,7.558324e-08,0.004156,7.558324e-08,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
11,8.888748e-08,0.049319,1.333312e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,1.026737e-08,0.000760,2.053475e-08,0.000000e+00,0.000000,0.000000e+00
12,4.051224e-08,0.018381,8.102449e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
13,1.400482e-07,0.019299,7.002412e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
14,1.464801e-07,0.086441,2.197201e-06,3.532913e-08,0.009729,2.473039e-07,0.000000e+00,0.000000,0.000000e+00,2.903928e-08,0.002285,5.807856e-08,0.000000e+00,0.000000,0.000000e+00
15,4.139675e-08,0.009933,2.069837e-07,3.530596e-08,0.001694,3.530596e-08,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
16,4.519586e-08,0.036182,8.135255e-07,2.559135e-08,0.018211,4.094617e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
17,7.833075e-08,0.016618,3.916538e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,5.664590e-08,0.002403,5.664590e-08,0.000000e+00,0.000000,0.000000e+00
18,2.805109e-08,0.029863,7.293284e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,5.664590e-08,0.002319,5.664590e-08,0.000000e+00,0.000000,0.000000e+00
19,8.056909e-08,0.039904,8.862600e-07,2.687728e-08,0.002420,5.375456e-08,0.000000e+00,0.000000,0.000000e+00,8.270585e-08,0.037238,8.270585e-07,0.000000e+00,0.000000,0.000000e+00
20,3.751226e-08,0.018038,3.000981e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
21,9.339585e-08,0.158716,4.389605e-06,1.570060e-07,0.062446,1.727066e-06,0.000000e+00,0.000000,0.000000e+00,1.167530e-07,0.016886,4.670118e-07,0.000000e+00,0.000000,0.000000e+00
22,2.751180e-08,0.031526,5.227243e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
23,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
24,7.926119e-08,0.009071,1.743746e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,1.055369e-07,0.000549,1.055369e-07,0.000000e+00,0.000000,0.000000e+00
25,3.227424e-07,0.016913,3.227424e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
26,1.152769e-07,0.014053,4.611075e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
27,8.790326e-08,0.016731,6.153228e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
28,3.313417e-07,0.015144,1.656709e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
29,4.478330e-07,0.018212,8.956659e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
30,5.138271e-08,0.008330,1.541481e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
31,1.370684e-07,0.030803,2.056025e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
32,2.413002e-07,0.184120,9.410709e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,2.099570e-08,0.003286,1.679656e-07,0.000000e+00,0.000000,0.000000e+00
33,2.361942e-07,0.135696,7.558214e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
34,1.671035e-07,0.027136,8.355173e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
35,8.075298e-08,0.017604,4.845179e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
36,7.257080e-08,0.003671,7.257080e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
37,5.822143e-08,0.127404,2.794628e-06,3.175585e-08,0.017373,3.810702e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
38,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
39,9.367282e-08,0.012465,3.746913e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
40,1.943934e-07,0.090484,3.110294e-06,1.035859e-07,0.003013,1.035859e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
41,4.520669e-08,0.157970,3.571329e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
42,8.436428e-08,0.084766,3.290207e-06,6.010011e-08,0.006193,2.404004e-07,0.000000e+00,0.000000,0.000000e+00,2.608227e-08,0.000672,2.608227e-08,0.000000e+00,0.000000,0.000000e+00
43,1.392473e-07,0.027369,5.569891e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
44,1.502956e-07,0.235502,1.953843e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
45,8.211831e-08,0.216649,5.994637e-06,0.000000e+00,0.000000,0.000000e+00,4.900771e-07,0.123981,3.430540e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
46,7.966032e-08,0.333759,5.974524e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
47,1.089592e-07,0.332321,2.832940e-06,1.077437e-07,0.012639,1.077437e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
48,2.744042e-08,0.160516,4.170944e-06,2.669506e-08,0.034930,9.076320e-07,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
49,4.964996e-08,0.148487,3.425847e-06,1.862922e-07,0.008074,1.862922e-07,0.000000e+00,0.000000,0.000000e+00,5.513013e-08,0.014337,3.307808e-07,0.000000e+00,0.000000,0.000000e+00

In [316]:
# Combine Datasets

data_with_geom = pd.concat([empl_geog, all_geom_features], axis=1)
all_data = pd.concat([data_with_geom, encoded_categories], axis=1)

all_data.head()

,LSOA11CD,LSOA11NM_x,population,Area,"01 : Crop and animal production, hunting and related service activities",02 : Forestry and logging,03 : Fishing and aquaculture,05 : Mining of coal and lignite,06 : Extraction of crude petroleum and natural gas,07 : Mining of metal ores,...,category_list_women's_clothing_store,category_list_women's_health_clinic,category_list_wood_and_pulp,category_list_woodworking_supply_store,category_list_writing_service,category_list_yoga_instructor,category_list_yoga_studio,category_list_youth_organizations,category_list_zoo,category_list_None
0,E01000001,City of London 001A,1465,lsoa2011:E01000001 : City of London 001A,0,0,0,0,10,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,E01000002,City of London 001B,1436,lsoa2011:E01000002 : City of London 001B,0,0,0,0,0,0,...,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,E01000003,City of London 001C,1346,lsoa2011:E01000003 : City of London 001C,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,E01000005,City of London 001E,985,lsoa2011:E01000005 : City of London 001E,0,10,0,0,0,0,...,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,E01000006,Barking and Dagenham 016A,1703,lsoa2011:E01000006 : Barking and Dagenham 016A,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Test AutoML with new Data

In [320]:
# create training and testing data
features = ['num_buildings', 'num_places', 'population'] + list(geo_features) + list(category_columns)
target = 'total_employment'

# Split the dataset - 80/20 train test
X_train, X_test, y_train, y_test = train_test_split(all_data[features], all_data[target], test_size=0.2, random_state=42)

# Save results and fit
automl = AutoML(results_path="automl_results_v2/basic_building_categories/", mode='Explain')
# fit the model
automl.fit(X_train, y_train)

predictions = automl.predict(X_test)
r2 = r2_score(y_test, predictions)
print(f'R^2 Score: {r2}')

Linear algorithm was disabled.
This model has already been fitted. You can use predict methods or select a new 'results_path' for a new 'fit()'.
R^2 Score: 0.6588749182919613

/Users/gavinrolls/anaconda3/envs/urbsim/lib/python3.11/site-packages/supervised/preprocessing/scale.py:51: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[[5.31183167e+01]
 [4.67723694e+02]
 [1.56830688e+02]
 [5.45160034e+02]
 [1.84771820e+02]
 [6.78674469e+01]
 [5.06430878e+02]
 [8.18159027e+01]
 [9.48817902e+01]
 [2.74354187e+02]
 [4.92801758e+02]
 [3.49215088e+02]
 [4.43247894e+02]
 [5.26427002e+02]
 [5.60723999e+02]
 [2.80344556e+03]
 [3.65557953e+02]
 [3.77099243e+02]
 [4.73132446e+02]
 [3.73981720e+02]
 [6.15586365e+02]
 [3.02900269e+02]
 [7.42868994e+03]
 [5.31950928e+02]
 [2.60630554e+02]
 [1.87411346e+02]
 [1.27330116e+02]
 [1.42347351e+02]
 [2.55353363e+02]
 [7.26564453e+02]
 [1.50336731e+03]
 [8.81238480e+01]
 [1.38467026e+02]
 [9.29501831e+02]
 [5.27528015e+02]
 [4.66411896e+02]
 [3.32942238e+01]
 [1.32530518e+02]
 [3.60827209e+02]
 [2.49683887e+03]
 [1.23942230e+02]
 [2.16951294e+02]
 [6.27658105e+03]
 [4.67516998e+02]
 [4.87646408e+01]
 [7.25650940e+02]
 [1.65402374e+02]
 [1.36294662e+02]
 [4.59179260e+02]
 [2.53569458e+02]
 [2.31183792e+02]
 [2.47398730e+03]
 [3.57656860e+02]
 [2.72263477e+03]
 [2.28830460e+02]
 [4.42085327e+02]
 [1.54372986e+02]
 [2.98616547e+02]
 [2.35620956e+02]
 [8.89090958e+01]
 [8.65190735e+02]
 [6.32862244e+01]
 [3.39242645e+02]
 [1.37103516e+02]
 [5.00889801e+02]
 [4.40734589e+02]
 [1.73610840e+03]
 [3.03340698e+02]
 [1.25328064e+02]
 [5.26891846e+02]
 [1.35573257e+02]
 [1.18555595e+02]
 [1.40457947e+03]
 [1.46788525e+03]
 [1.35154510e+02]
 [5.33007324e+02]
 [6.41261368e+01]
 [7.72479935e+01]
 [7.10745667e+02]
 [6.76447693e+02]
 [2.53998474e+02]
 [3.95377350e+02]
 [2.02292831e+02]
 [8.14972610e+01]
 [4.70391876e+02]
 [1.08964249e+02]
 [6.36330566e+02]
 [1.09643166e+02]
 [1.62487808e+02]
 [3.67466089e+03]
 [8.73984192e+02]
 [2.70902802e+02]
 [1.38241653e+02]
 [8.34509048e+01]
 [1.06313904e+02]
 [1.75848724e+02]
 [1.83522827e+02]
 [1.25717056e+02]
 [2.91058533e+02]
 [2.52576675e+02]
 [2.39763596e+02]
 [3.67274316e+03]
 [3.21639069e+02]
 [3.58586609e+02]
 [2.38800562e+03]
 [1.65387512e+02]
 [2.02032318e+02]
 [2.27151245e+02]
 [1.52090454e+02]
 [7.48990936e+01]
 [9.94261780e+01]
 [1.09895227e+03]
 [2.30886612e+02]
 [5.56126404e+02]
 [1.25037003e+02]
 [1.56501877e+02]
 [1.83627975e+02]
 [1.96755051e+02]
 [1.65040894e+02]
 [6.06540283e+02]
 [4.40999359e+02]
 [1.84382278e+02]
 [9.33394012e+01]
 [1.03575005e+02]
 [2.52333694e+02]
 [7.17542419e+01]
 [1.35387802e+02]
 [7.51210480e+01]
 [3.36540680e+02]
 [1.58718689e+03]
 [1.97111450e+02]
 [1.13495949e+02]
 [3.19051483e+02]
 [4.95208832e+02]
 [2.17905090e+02]
 [3.66317322e+02]
 [1.09185905e+02]
 [5.51412964e+02]
 [2.89328918e+02]
 [7.13355103e+01]
 [8.12744217e+01]
 [1.55479691e+02]
 [1.91761810e+02]
 [5.60902290e+01]
 [3.78911194e+02]
 [2.14702393e+02]
 [3.59230713e+02]
 [6.24368629e+01]
 [1.13329727e+02]
 [2.72248718e+02]
 [1.48964111e+02]
 [4.24877625e+01]
 [2.52938339e+02]
 [2.07508286e+02]
 [2.46612524e+03]
 [8.73554764e+01]
 [1.32383881e+02]
 [3.32760345e+02]
 [5.92845764e+02]
 [2.53591309e+03]
 [1.51626328e+02]
 [4.31697998e+02]
 [1.01495782e+03]
 [7.06997986e+01]
 [5.32635803e+01]
 [4.87941681e+02]
 [1.53403534e+02]
 [1.25789062e+03]
 [5.51017883e+02]
 [4.38594879e+02]
 [8.33661194e+01]
 [3.21605011e+02]
 [4.13389709e+02]
 [1.83639206e+02]
 [1.04736145e+03]
 [5.16437492e+01]
 [2.64065399e+02]
 [1.37146387e+03]
 [3.25217578e+03]
 [1.10916954e+02]
 [4.50322990e+01]
 [5.19914307e+02]
 [5.71929834e+03]
 [3.37157623e+02]
 [1.57084076e+02]
 [2.11057861e+02]
 [9.83400192e+01]
 [2.95910675e+02]
 [1.93716721e+02]
 [2.70461963e+03]
 [5.83282967e+01]
 [3.40946716e+02]
 [9.44180679e+01]
 [8.41641235e+01]
 [3.57297180e+02]
 [5.08912811e+02]
 [8.46251160e+02]
 [1.67435767e+03]
 [1.03644730e+02]
 [1.66117157e+02]
 [2.98034943e+02]
 [8.17254883e+02]
 [1.17211047e+03]
 [5.09005493e+02]
 [1.20979942e+02]
 [2.66174347e+02]
 [2.16026825e+02]
 [1.65425385e+02]
 [1.33163208e+02]
 [2.07184143e+02]
 [2.16786041e+02]
 [1.50786667e+02]
 [3.80173279e+02]
 [1.37259436e+03]
 [1.80232971e+02]
 [2.06676804e+02]
 [8.57009964e+01]
 [7.82777100e+02]
 [1.85691833e+02]
 [2.38584442e+02]
 [5.80875488e+02]
 [2.40298645e+02]
 [1.03036369e+02]
 [2.37680695e+02]
 [2.04902893e+02]
 [1.67553055e+02]
 [1.01710251e+02]
 [3.84676819e+02]
 [1.11879956e+03]
 [4.89911987e+02]
 [8.30736313e+01]
 [2.30293015e+02]
 [1.85995224e+02]
 [2.20574570e+02]
 [8.57446045e+02]
 [8.46254501e+01]
 [1.42319977e+02]
 [2.79460541e+02]
 [2.69326660e+02]
 [1.31602608e+02]
 [7.26752197e+02]
 [2.32601685e+02]
 [1.18304968e+03]
 [3.47602234e+02]
 [4.28180664e+02]
 [1.06516187e+03]
 [4.63656433e+02]
 [2.90325012e+01]
 [3.29331726e+02]
 [3.87316345e+02]
 [2.81655304e+02]
 [2.92782788e+03]
 [1.16454529e+02]
 [1.86439294e+03]
 [5.48218384e+01]
 [5.76518822e+01]
 [3.23516815e+02]
 [2.78606537e+02]
 [2.79262939e+02]
 [5.62599219e+03]
 [1.96314651e+02]
 [4.67097260e+02]
 [3.60539581e+02]
 [1.16328102e+02]
 [3.63604218e+02]
 [2.07480530e+02]
 [4.20345551e+02]
 [2.71366180e+02]
 [2.06124557e+02]
 [2.21593979e+02]
 [3.37872772e+02]
 [4.07499390e+02]
 [1.65683914e+02]
 [1.43160629e+02]
 [1.95049759e+02]
 [1.04330429e+02]
 [4.36842529e+02]
 [1.20658867e+02]
 [1.63137466e+02]
 [4.65490265e+02]
 [4.76081757e+02]
 [5.59051666e+01]
 [3.99302002e+02]
 [1.78688507e+02]
 [6.61071899e+02]
 [4.37111084e+03]
 [3.23191254e+02]
 [1.42786819e+02]
 [3.82183502e+02]
 [4.72062592e+02]
 [1.67750717e+02]
 [3.54897675e+02]
 [4.16319733e+02]
 [4.85084564e+02]
 [1.99713226e+02]
 [5.77216003e+02]
 [1.37362274e+02]
 [1.72199966e+02]
 [1.76760468e+02]
 [5.84201050e+02]
 [4.62183716e+02]
 [6.85218848e+03]
 [4.28204315e+02]
 [1.51775482e+02]
 [3.66453491e+02]
 [2.72359131e+02]
 [1.01280968e+02]
 [3.13814667e+02]
 [9.61274292e+02]
 [1.04751740e+02]
 [1.73883240e+02]
 [1.40183125e+04]
 [1.17055305e+02]
 [3.44243927e+02]
 [3.66128540e+02]
 [1.60342438e+02]
 [5.07487579e+02]
 [1.63425323e+02]
 [1.91621567e+02]
 [6.81312744e+03]
 [3.43162048e+02]
 [1.40936401e+02]
 [1.01001007e+02]
 [1.18712639e+02]
 [1.95156006e+02]
 [4.20579285e+02]
 [7.40689270e+02]
 [1.54736316e+03]
 [1.72536670e+03]
 [7.47380127e+02]
 [2.67870758e+02]
 [2.91037292e+02]
 [3.55499172e+01]
 [1.94039413e+02]
 [2.19325623e+02]
 [1.39880463e+02]
 [1.50051270e+02]
 [2.35763687e+02]
 [1.11895157e+02]
 [3.14273590e+02]
 [1.71582733e+02]
 [7.00714493e+01]
 [1.33661392e+02]
 [1.32601761e+02]
 [3.44444183e+02]
 [2.51927750e+02]
 [1.77443161e+02]
 [1.08968849e+02]
 [1.47125275e+02]
 [1.90404251e+02]
 [2.99272919e+02]
 [1.59929672e+02]
 [2.07885925e+02]
 [2.93854950e+02]
 [4.04941071e+02]
 [7.18718628e+02]
 [8.68932724e+01]
 [2.82811401e+02]
 [4.29171692e+02]
 [2.55535248e+02]
 [4.23754443e+03]
 [6.39479919e+02]
 [2.84792881e+01]
 [5.82853882e+02]
 [4.75024048e+02]
 [6.64041138e+01]
 [5.78624268e+02]
 [2.19928238e+02]
 [1.64276733e+02]
 [6.99026917e+02]
 [3.27047729e+02]
 [2.23407379e+02]
 [2.68062225e+02]
 [4.16997589e+02]
 [2.09575195e+02]
 [1.66562500e+02]
 [2.02246118e+03]
 [1.88745529e+02]
 [4.76331696e+02]
 [7.54287659e+02]
 [1.44635657e+03]
 [1.02673172e+02]
 [5.52777672e+01]
 [2.71767334e+02]
 [1.94726428e+03]
 [1.28339417e+03]
 [4.59453888e+02]
 [2.73459564e+02]
 [1.06002579e+02]
 [8.44078796e+02]
 [2.32086990e+02]
 [3.22523901e+03]
 [4.40195557e+02]
 [2.47346954e+02]
 [6.16989197e+02]
 [4.01596954e+02]
 [2.93271179e+02]
 [7.29379590e+03]
 [4.88054291e+02]
 [9.98116638e+02]
 [7.75278015e+02]
 [5.06897392e+01]
 [7.53983276e+02]
 [9.78482285e+01]
 [2.73888947e+02]
 [1.85537964e+03]
 [2.89238342e+02]
 [2.17954559e+02]
 [3.48327179e+02]
 [8.27760315e+02]
 [9.23885422e+01]
 [3.08730591e+02]
 [1.23586044e+02]
 [1.03143906e+02]
 [4.99714111e+02]
 [1.52243347e+02]
 [1.96715344e+03]
 [1.04774570e+04]
 [8.42228943e+02]
 [3.76612640e+02]
 [2.42414658e+02]
 [3.44502625e+02]
 [6.07972717e+01]
 [4.74584015e+02]
 [1.31970528e+02]
 [2.09646667e+02]
 [1.88205688e+02]
 [2.35824036e+02]
 [2.64418182e+02]
 [2.82936676e+02]
 [5.76700439e+02]
 [7.10813751e+01]
 [2.52213882e+02]
 [1.32576736e+02]
 [1.66988464e+02]
 [3.73999542e+02]
 [1.22589783e+03]
 [6.21682678e+02]
 [1.79541473e+02]
 [1.77353699e+02]
 [3.20822235e+02]
 [9.03791580e+01]
 [1.36715540e+03]
 [8.13558197e+01]
 [8.84898926e+02]
 [1.10480118e+02]
 [2.49370895e+02]
 [1.08417221e+02]
 [5.05378571e+02]
 [3.47373413e+02]
 [2.76081177e+03]
 [9.39087036e+02]
 [2.39743591e+02]
 [1.59361304e+03]
 [1.18383385e+02]
 [2.63041107e+02]
 [2.01548477e+02]
 [4.99198853e+02]
 [1.13522636e+02]
 [1.04988086e+03]
 [4.81165253e+02]
 [2.91151180e+01]
 [5.83918018e+03]
 [7.13491455e+02]
 [1.85336868e+02]
 [6.16029175e+02]
 [1.54736829e+03]
 [4.18320508e+03]
 [9.83846130e+01]
 [1.24626367e+03]
 [1.73543503e+02]
 [1.26929932e+02]
 [5.47931030e+02]
 [4.89401581e+02]
 [3.84504059e+02]
 [3.58501892e+02]
 [2.64473206e+02]
 [1.37115448e+02]
 [9.68803894e+02]
 [4.87360046e+02]
 [1.69041489e+02]
 [3.50258331e+02]
 [3.22181915e+02]
 [3.62093994e+02]
 [3.24920837e+02]
 [1.41270920e+02]
 [4.33510547e+03]
 [1.10654968e+03]
 [4.27962891e+02]
 [1.78664429e+02]
 [3.22452930e+03]
 [2.02615186e+03]
 [4.94401428e+02]
 [4.48283020e+02]
 [2.73503304e+01]
 [6.80266190e+01]
 [3.33776520e+02]
 [2.45270111e+02]
 [1.54090729e+02]
 [1.31181763e+02]
 [6.05307556e+02]
 [3.08914307e+02]
 [3.33400574e+02]
 [7.98937073e+01]
 [6.18557068e+02]
 [8.47774124e+01]
 [4.72801025e+02]
 [8.30299454e+01]
 [3.31042328e+02]
 [3.43255371e+02]
 [1.85856339e+02]
 [3.86983856e+02]
 [2.81607635e+02]
 [1.71615967e+02]
 [1.40705066e+03]
 [6.03600220e+02]
 [4.76007019e+02]
 [1.49627487e+02]
 [3.13391266e+02]
 [6.42005127e+02]
 [3.06823181e+02]
 [8.19204712e+02]
 [1.45546478e+02]
 [1.70115738e+02]
 [1.46665482e+02]
 [1.17938751e+02]
 [1.66977966e+02]
 [1.07063812e+02]
 [3.35625427e+02]
 [3.14846680e+02]
 [1.05520203e+02]
 [5.41859207e+01]
 [8.49469849e+02]
 [8.45366882e+02]
 [1.01096796e+03]
 [3.93545837e+02]
 [5.31023071e+02]
 [4.44972748e+02]
 [3.65752002e+03]
 [8.12420776e+02]
 [2.51247375e+02]
 [3.44622650e+02]
 [3.86907867e+02]
 [7.82402466e+02]
 [1.14263268e+02]
 [8.35183655e+02]
 [2.51147499e+01]
 [7.78311829e+02]
 [7.52131653e+02]
 [2.53919800e+03]
 [2.76442902e+02]
 [1.60995056e+02]
 [3.18548767e+02]
 [1.37283188e+02]
 [4.68606812e+02]
 [1.65760880e+02]
 [1.03858508e+03]
 [4.29780365e+02]
 [3.05563184e+03]
 [5.45924622e+02]
 [3.31706696e+02]
 [1.77781662e+02]
 [1.51478333e+03]
 [5.44571472e+02]
 [1.28251183e+02]
 [2.85877014e+02]
 [6.80509705e+02]
 [9.97687256e+02]
 [2.35206268e+02]
 [1.77121472e+03]
 [7.72346573e+01]
 [3.99952087e+02]
 [7.69067139e+02]
 [4.88622437e+02]
 [3.06323395e+02]
 [8.68774536e+02]
 [1.64810623e+02]
 [2.17686615e+02]
 [1.88738220e+02]
 [7.76350708e+01]
 [1.86972229e+02]
 [5.86167847e+02]
 [8.50248489e+01]
 [7.77883148e+01]
 [3.28279022e+02]
 [5.19400146e+02]
 [2.00573685e+02]
 [1.46994446e+02]
 [5.62604309e+02]
 [1.70307220e+02]
 [8.61760498e+02]
 [1.65410141e+02]
 [1.00268677e+03]
 [7.43907764e+03]
 [1.44831177e+03]
 [2.91335419e+02]
 [9.19166138e+02]
 [1.83977005e+02]
 [2.90038788e+02]
 [1.70009232e+02]
 [1.45837976e+03]
 [5.59135071e+02]
 [2.08985138e+02]
 [5.12733368e+02]
 [5.12852753e+02]
 [3.06832275e+02]
 [8.39379944e+02]
 [4.34601746e+02]
 [1.89427933e+02]
 [1.47636230e+03]
 [1.14139639e+04]
 [1.26906531e+03]
 [2.72254608e+02]
 [1.10531641e+04]
 [3.90249420e+02]
 [7.19419189e+03]
 [1.48213062e+03]
 [1.18624443e+02]
 [2.68784619e+03]
 [6.23538635e+02]
 [9.57934692e+02]
 [1.07152710e+03]
 [1.83672775e+02]
 [2.23951874e+02]
 [5.92065430e+02]
 [3.60638214e+02]
 [2.03670883e+02]
 [3.67277618e+02]
 [6.08091187e+02]
 [1.39573181e+02]
 [4.52092224e+02]
 [1.24932991e+02]
 [5.58614929e+02]
 [7.08767212e+02]
 [1.21040421e+02]
 [1.04917700e+03]
 [5.21280708e+01]
 [5.74387131e+01]
 [1.45493301e+02]
 [1.05830978e+02]
 [3.07652130e+02]
 [1.67226852e+02]
 [9.53002930e+01]
 [5.79597229e+02]
 [1.13305652e+03]
 [9.97676926e+01]
 [2.06516052e+02]
 [2.37315720e+02]
 [2.03019379e+02]
 [1.38223663e+02]
 [5.85635925e+02]
 [2.34397476e+02]
 [1.43501328e+02]
 [7.72268127e+02]
 [6.54381775e+02]
 [6.11885193e+02]
 [7.42793274e+02]
 [7.91641922e+01]
 [8.91098694e+02]
 [1.50690521e+02]
 [4.40135437e+02]
 [1.22087311e+02]
 [2.85110474e+02]
 [3.48639435e+02]
 [5.38364563e+02]
 [1.42634689e+02]
 [1.26945465e+02]
 [1.13774017e+02]
 [5.54849670e+02]
 [2.92093414e+02]
 [2.97352509e+02]
 [1.40712997e+02]
 [3.86818237e+02]
 [1.55171936e+02]
 [3.95034668e+02]
 [1.48701675e+02]
 [5.74377136e+02]
 [2.45243195e+02]
 [1.06890770e+02]
 [8.12000671e+02]
 [1.42307648e+02]
 [6.32104492e+02]
 [5.39599648e+01]
 [2.43877029e+02]
 [2.40479004e+02]
 [4.88701721e+02]
 [1.83902359e+02]
 [1.07473999e+03]
 [2.80826611e+03]
 [5.57734192e+02]
 [7.69719727e+02]
 [2.17285431e+02]
 [1.11846291e+02]
 [2.88346527e+02]
 [3.00445404e+02]
 [2.20137451e+02]
 [5.21413956e+01]
 [4.55395660e+02]
 [2.16710068e+02]
 [4.51655060e+02]
 [5.37336502e+01]
 [3.36924469e+02]
 [1.75977753e+02]
 [2.16533951e+02]
 [1.80466904e+02]
 [1.79639923e+02]
 [2.21947968e+02]
 [2.19369675e+02]
 [1.48165314e+02]
 [7.72142517e+02]
 [4.90970856e+02]
 [9.88998032e+01]
 [1.93194016e+02]
 [1.94445959e+03]
 [1.32843115e+03]
 [5.43256409e+02]
 [9.33615570e+01]
 [2.96802460e+02]
 [7.59802063e+02]
 [1.96937958e+02]
 [3.14448364e+02]
 [2.60191738e+04]
 [1.50769730e+02]
 [1.27975281e+02]
 [4.41308899e+02]
 [5.07044342e+02]
 [1.20155579e+02]
 [2.64893341e+02]
 [2.35838638e+02]
 [3.13422314e+03]
 [9.54715576e+02]
 [3.71622406e+02]
 [1.75653564e+02]
 [1.39923431e+02]
 [5.77168701e+02]
 [2.98410229e+03]
 [8.09931641e+02]
 [1.36956189e+03]
 [8.01371460e+02]
 [9.48683090e+01]
 [2.65761902e+02]
 [3.33939606e+02]
 [1.38968338e+02]
 [2.08319794e+02]
 [2.78269043e+02]
 [1.48146133e+02]
 [1.82924942e+02]
 [1.64703522e+02]
 [9.72196350e+01]
 [1.85649292e+02]
 [2.27412201e+02]
 [2.04519397e+03]
 [2.17312744e+03]
 [1.13104749e+03]
 [1.96631744e+02]
 [2.46120752e+03]
 [3.15874512e+02]
 [2.73669617e+02]
 [3.09928528e+02]
 [3.07069336e+02]
 [3.39810303e+02]
 [1.34065186e+02]
 [2.74427155e+02]
 [2.07853857e+03]
 [1.16860054e+02]
 [2.79522156e+02]
 [5.05221283e+02]
 [2.65491302e+02]
 [1.28116707e+02]
 [1.72698608e+02]
 [1.15635231e+02]
 [6.94329773e+02]
 [1.75731903e+02]
 [1.90391541e+02]
 [2.38349884e+02]
 [4.66398438e+02]
 [1.28831505e+02]
 [1.13731555e+03]
 [1.77930634e+02]
 [1.49411804e+03]
 [1.34820663e+02]
 [2.04915909e+02]
 [1.02162346e+02]
 [3.94752472e+02]
 [7.42960815e+01]
 [1.60116602e+03]
 [1.21814087e+02]
 [6.66403542e+01]
 [5.66897156e+02]
 [1.64602264e+02]
 [4.72172180e+02]
 [4.42782959e+02]
 [4.46976135e+02]
 [3.23835547e+03]
 [5.04875793e+02]
 [1.21553015e+03]
 [6.52484436e+02]
 [1.73403137e+02]
 [3.18559180e+03]
 [1.64665909e+02]
 [1.69701981e+02]
 [5.67297668e+01]
 [3.84188293e+02]
 [5.23615173e+02]
 [7.55434082e+02]
 [2.03911438e+02]
 [1.44951135e+03]
 [4.96301300e+02]
 [8.59095825e+02]
 [6.64058723e+01]
 [3.12306183e+02]
 [2.16450867e+02]
 [4.42632141e+02]
 [3.65695038e+02]
 [5.49140198e+02]
 [4.71561554e+02]
 [1.08337288e+02]
 [4.09405117e+04]
 [1.62407944e+02]
 [5.51042664e+02]
 [1.90085068e+02]
 [4.28868530e+02]
 [5.90609093e+01]
 [7.47315750e+01]
 [3.38089844e+02]
 [1.10375415e+03]
 [6.80651001e+02]
 [2.33669336e+03]
 [3.51388702e+02]
 [5.27887634e+02]
 [2.60286530e+02]
 [1.77005630e+02]
 [1.38918350e+02]
 [4.72958527e+01]
 [1.81115808e+03]
 [5.37907129e+03]
 [1.66290176e+02]
 [4.07646820e+02]
 [2.69843353e+02]
 [6.49713745e+01]
 [7.77247754e+03]
 [7.81132629e+02]
 [3.74296753e+02]
 [1.80300488e+03]
 [1.45327423e+02]
 [3.79671906e+02]
 [9.66364563e+02]
 [2.78809692e+02]
 [3.60901550e+02]
 [2.31192017e+02]
 [7.56312500e+02]
 [1.68385986e+02]
 [6.16830505e+02]
 [1.96353967e+03]
 [4.27534302e+02]
 [1.99746719e+02]
 [1.07871758e+02]
 [2.61980408e+02]
 [2.17535568e+02]
 [1.23960388e+03]
 [3.89635887e+01]
 [1.18310593e+02]
 [1.62089929e+03]
 [1.94849350e+02]
 [2.22918506e+03]
 [4.23203217e+02]
 [2.88519745e+02]
 [4.93325287e+02]
 [2.66827240e+02]
 [1.69670380e+02]
 [2.64741608e+02]
 [1.04572845e+02]
 [4.74942291e+02]
 [2.25703613e+02]
 [1.93065414e+02]
 [4.15642365e+02]
 [2.33541275e+02]
 [1.82993042e+02]
 [3.13436584e+02]
 [4.33215149e+02]
 [1.83175964e+02]
 [8.19509354e+01]
 [1.46199783e+02]
 [1.71937988e+02]
 [1.72642624e+02]
 [2.46002808e+02]
 [1.28624573e+03]
 [1.48106552e+02]
 [9.40991058e+01]
 [1.38181458e+03]
 [7.75234299e+01]
 [2.89509247e+02]
 [1.18558337e+03]
 [4.61307831e+01]
 [7.11963989e+02]
 [2.39753250e+02]
 [2.61447449e+02]
 [2.10498795e+02]
 [6.52551498e+01]
 [9.23098907e+01]
 [2.26228955e+03]
 [2.14289764e+02]
 [2.68301440e+03]
 [2.07866196e+02]
 [5.77154724e+02]
 [1.80553848e+02]
 [2.46995743e+02]
 [1.56087494e+02]
 [1.00685181e+03]
 [2.04900772e+02]
 [2.89898743e+02]
 [1.28138916e+03]
 [1.57496918e+02]
 [6.13437927e+02]
 [1.27983139e+02]
 [1.84693286e+03]
 [1.55661453e+02]
 [3.35528351e+02]
 [1.96103302e+02]
 [4.61630859e+02]
 [5.81386230e+02]
 [7.82534103e+01]
 [8.93996338e+02]
 [1.98422638e+02]
 [1.05800549e+03]
 [1.09316994e+02]
 [1.35366699e+02]
 [8.72351303e+01]
 [2.09675110e+02]
 [3.11713287e+02]
 [1.81778885e+02]
 [7.95755157e+01]
 [4.99665649e+02]
 [1.19857983e+03]
 [4.17969238e+02]
 [4.65889397e+01]
 [1.75349670e+02]
 [8.23489136e+02]
 [3.44924896e+02]
 [3.58658478e+02]
 [3.37836639e+02]
 [2.42310883e+02]
 [6.61641724e+02]
 [2.86861938e+02]
 [1.10114365e+02]
 [2.87146698e+02]
 [7.50710022e+02]
 [6.26249756e+02]
 [4.65086853e+02]
 [4.10667175e+02]
 [3.12247375e+02]
 [1.16286980e+02]
 [1.89910797e+02]
 [1.37342178e+02]
 [3.69790070e+02]
 [2.81696350e+02]
 [1.68975082e+02]
 [1.31593056e+02]
 [3.45722565e+02]
 [1.47042648e+02]
 [1.60140015e+02]
 [1.50913620e+02]
 [1.95571014e+02]
 [3.72152893e+02]
 [1.71264114e+02]
 [1.07940620e+02]
 [4.33315857e+02]]' has dtype incompatible with float32, please explicitly cast to a compatible dtype first.

## Filter POIs and Collapse Categories

In [327]:
# This work is currently storedin DataExploration.ipynb - some adaptation will be needed to migrate things over

all_places = gpd.read_file('data/overture_data/london_places_overture.geojson')
all_places.head()

,name,category,confidence,geometry
0,The Heating Professionals,hvac_services,0.77,POINT (-0.50991 51.28709)
1,Hub Property Care,plumbing,0.77,POINT (-0.50991 51.28709)
2,F & S,plumbing,0.72,POINT (-0.50911 51.28766)
3,Hookins Accountants,accountant,0.75,POINT (-0.50881 51.28878)
4,Muddy Paws Grooming Service,pet_groomer,0.55,POINT (-0.50741 51.28859)

In [332]:
#Filter to quality places only
quality_places = all_places[all_places['confidence'] >= 0.6]

In [338]:
#Also copied from original DataExploration file

#Dealing with filter warnings for empty geometries in particular LSOAs
warnings.filterwarnings("ignore", category=FutureWarning)

# Generating a version of empl_geog that has only quality places - I'm using my data_with_geom file as a starting point
empl_geog_quality_places = data_with_geom

#Copy back quality places using logic from DataCleaning.ipynb

empl_geog_quality_places['category_list'] = None

for index, row in empl_geog.iterrows():
    geom = row['geometry']
    filter_geom = gpd.GeoSeries([geom], crs='EPSG:4326')

    #All Places
    filtered_places = quality_places[quality_places.geometry.intersects(filter_geom.unary_union)]

    #Multipoint of each LSOA's places
    combined_multipoint = filtered_places.geometry.unary_union
    
    #Add place category information
    category_list = filtered_places['category'].dropna().tolist()

    #Add back to Dataframe
    empl_geog_quality_places.at[index, 'category_list'] = category_list

empl_geog_quality_places.head()

,LSOA11CD,LSOA11NM_x,population,Area,"01 : Crop and animal production, hunting and related service activities",02 : Forestry and logging,03 : Fishing and aquaculture,05 : Mining of coal and lignite,06 : Extraction of crude petroleum and natural gas,07 : Mining of metal ores,...,residential_total_area,commercial_avg_building_area,commercial_lsoa_area_ratio,commercial_total_area,office_avg_building_area,office_lsoa_area_ratio,office_total_area,retail_avg_building_area,retail_lsoa_area_ratio,retail_total_area
0,E01000001,City of London 001A,1465,lsoa2011:E01000001 : City of London 001A,0,0,0,0,10,0,...,4.569009e-07,2.656669e-07,0.076921,0.000001,0.000000e+00,0.000000,0.000000e+00,2.200346e-07,0.101934,1.760277e-06
1,E01000002,City of London 001B,1436,lsoa2011:E01000002 : City of London 001B,0,0,0,0,0,0,...,4.215369e-07,2.245372e-07,0.099630,0.000003,0.000000e+00,0.000000,0.000000e+00,4.283602e-07,0.131587,3.855242e-06
2,E01000003,City of London 001C,1346,lsoa2011:E01000003 : City of London 001C,0,0,0,0,0,0,...,4.204698e-07,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,1.375725e-07,0.018533,1.375725e-07
3,E01000005,City of London 001E,985,lsoa2011:E01000005 : City of London 001E,0,10,0,0,0,0,...,0.000000e+00,3.214321e-07,0.065058,0.000002,2.773609e-08,0.001123,2.773609e-08,3.156538e-07,0.127778,3.156538e-06
4,E01000006,Barking and Dagenham 016A,1703,lsoa2011:E01000006 : Barking and Dagenham 016A,0,0,0,0,0,0,...,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00

In [340]:
# One-Hot Encoding - yet again

#Explode category lists
empl_geog_quality_places_exploded = empl_geog_quality_places.explode('category_list')

#Set up encoder
encoder = OneHotEncoder(sparse_output=False)

#Encode
encoded_categories_quality = encoder.fit_transform(empl_geog_quality_places_exploded[['category_list']])
encoded_df = pd.DataFrame(encoded_categories_quality, columns=encoder.get_feature_names_out(['category_list']))

empl_geog_quality_places_exploded = pd.concat([empl_geog_quality_places_exploded.reset_index(drop=True), encoded_df.reset_index(drop=True)], axis=1)

# Reaggregate
empl_geog_quality_places_exploded.drop(columns=['category_list'], inplace=True)

# Group by LSOA11CD - sum numeric only
numeric_columns = encoded_df.columns.tolist()
empl_geog_quality_places_encoded = empl_geog_quality_places_exploded.groupby('LSOA11CD')[numeric_columns].sum().reset_index()

#Save columns of interest for analysis

quality_categories = empl_geog_quality_places_encoded.columns[1:]

empl_geog_quality_places_encoded.head()

,LSOA11CD,category_list_3d_printing_service,category_list_abortion_clinic,category_list_abuse_and_addiction_treatment,category_list_accommodation,category_list_accountant,category_list_acoustical_consultant,category_list_active_life,category_list_acupuncture,category_list_addiction_rehabilitation_center,...,category_list_women's_clothing_store,category_list_women's_health_clinic,category_list_wood_and_pulp,category_list_woodworking_supply_store,category_list_writing_service,category_list_yoga_instructor,category_list_yoga_studio,category_list_youth_organizations,category_list_zoo,category_list_nan
0,E01000001,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,E01000002,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,E01000003,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,E01000005,0.0,0.0,0.0,1.0,2.0,0.0,2.0,1.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,E01000006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [342]:
#Rejoin with all data

all_data_quality_places = pd.merge(empl_geog_quality_places, empl_geog_quality_places_encoded, on='LSOA11CD')

all_data_quality_places.head()

,LSOA11CD,LSOA11NM_x,population,Area,"01 : Crop and animal production, hunting and related service activities",02 : Forestry and logging,03 : Fishing and aquaculture,05 : Mining of coal and lignite,06 : Extraction of crude petroleum and natural gas,07 : Mining of metal ores,...,category_list_women's_clothing_store,category_list_women's_health_clinic,category_list_wood_and_pulp,category_list_woodworking_supply_store,category_list_writing_service,category_list_yoga_instructor,category_list_yoga_studio,category_list_youth_organizations,category_list_zoo,category_list_nan
0,E01000001,City of London 001A,1465,lsoa2011:E01000001 : City of London 001A,0,0,0,0,10,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,E01000002,City of London 001B,1436,lsoa2011:E01000002 : City of London 001B,0,0,0,0,0,0,...,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,E01000003,City of London 001C,1346,lsoa2011:E01000003 : City of London 001C,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,E01000005,City of London 001E,985,lsoa2011:E01000005 : City of London 001E,0,10,0,0,0,0,...,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,E01000006,Barking and Dagenham 016A,1703,lsoa2011:E01000006 : Barking and Dagenham 016A,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [345]:
# Collapse Categories (Also Copied from DataExploration)

# Automated Condensing of Column Types

# List all columns
all_columns = encoded_categories.columns.tolist()

# I'll group them by 'suffix' to find commonalities
suffix_groups = {}

# Iterate through columns to identify suffixes
for column in all_columns:
    lower_column = column.lower()
    parts = lower_column.split('_')
    if len(parts) > 1:
        suffix = parts[-1]
        if suffix in suffix_groups:
            suffix_groups[suffix].append(column)
        else:
            suffix_groups[suffix] = [column]
    else:
        # Handle columns without suffixes
        suffix_groups['other'] = suffix_groups.get('other', []) + [column]

# Create a list of DataFrames to concatenate
concatenated_dfs = []

# Iterate through suffix groups and aggregate columns
for suffix, columns in suffix_groups.items():
    if columns:
        if len(columns) == 1:
            # Preserve col name if only one col with suffix
            new_column_name = columns[0].replace('category_list_', '')
            concatenated_dfs.append(encoded_categories[columns].rename(columns={columns[0]: new_column_name}))
        else:
            # Aggregate columns with more than one column in the group
            new_column_name = f'all_{suffix}'
            concatenated_dfs.append(encoded_categories[columns].sum(axis=1).rename(new_column_name))

# Concatenate all DataFrames
condensed_categories = pd.concat(concatenated_dfs, axis=1)

# Print summary information (groups only)
for suffix, columns in suffix_groups.items():
    num_columns = len(columns)
    if num_columns > 1:
        print(f'Number of {suffix.capitalize()} Categories: {num_columns}')

condensed_categories.head()

Number of Service Categories: 81
Number of Clinic Categories: 8
Number of Accommodation Categories: 2
Number of Consultant Categories: 9
Number of Center Categories: 31
Number of Services Categories: 85
Number of Education Categories: 3
Number of Entertainment Categories: 2
Number of Store Categories: 100
Number of Agency Categories: 12
Number of Restaurant Categories: 110
Number of Program Categories: 2
Number of Supplier Categories: 25
Number of Production Categories: 6
Number of Dealer Categories: 14
Number of Manufacturer Categories: 8
Number of Repair Categories: 21
Number of Lounge Categories: 2
Number of Centers Categories: 2
Number of Contractor Categories: 5
Number of Medicine Categories: 6
Number of League Categories: 4
Number of Team Categories: 4
Number of Park Categories: 9
Number of Church Categories: 5
Number of Hospital Categories: 3
Number of Shelter Categories: 2
Number of Studio Categories: 7
Number of Agent Categories: 2
Number of Apartments Categories: 2
Number of Range Categories: 3
Number of Architect Categories: 2
Number of Designer Categories: 3
Number of Museum Categories: 11
Number of Restoration Categories: 3
Number of School Categories: 26
Number of Facility Categories: 5
Number of Tours Categories: 9
Number of House Categories: 5
Number of Design Categories: 2
Number of Rental Categories: 7
Number of Shop Categories: 41
Number of Company Categories: 18
Number of Insurance Categories: 4
Number of Provider Categories: 4
Number of Security Categories: 2
Number of Accessories Categories: 4
Number of Equipment Categories: 8
Number of Mining Categories: 2
Number of Dealers Categories: 3
Number of Area Categories: 2
Number of Court Categories: 5
Number of Union Categories: 4
Number of Law Categories: 17
Number of Bar Categories: 17
Number of Classes Categories: 5
Number of Field Categories: 3
Number of Stadium Categories: 6
Number of Stores Categories: 6
Number of Remodeling Categories: 2
Number of Rentals Categories: 9
Number of Spa Categories: 4
Number of Salon Categories: 5
Number of Garden Categories: 3
Number of Hall Categories: 6
Number of Offices Categories: 3
Number of Charter Categories: 2
Number of Training Categories: 4
Number of Distribution Categories: 2
Number of Bookstore Categories: 2
Number of Camp Categories: 2
Number of Photography Categories: 4
Number of Class Categories: 2
Number of Club Categories: 21
Number of Gym Categories: 2
Number of Brokers Categories: 3
Number of Temple Categories: 3
Number of Station Categories: 7
Number of Business Categories: 2
Number of Advertising Categories: 4
Number of Supply Categories: 9
Number of Management Categories: 4
Number of Schools Categories: 5
Number of Transportation Categories: 5
Number of Cafe Categories: 2
Number of Building Categories: 2
Number of Broker Categories: 3
Number of Buyer Categories: 2
Number of Inspector Categories: 2
Number of Installation Categories: 7
Number of Tinting Categories: 2
Number of Surgeon Categories: 5
Number of Counseling Categories: 2
Number of Cleaning Categories: 5
Number of Office Categories: 6
Number of Clothing Categories: 6
Number of Organization Categories: 10
Number of Loans Categories: 2
Number of Care Categories: 5
Number of Engineers Categories: 2
Number of Laboratories Categories: 2
Number of Supplies Categories: 6
Number of Agencies Categories: 2
Number of Estate Categories: 2
Number of Artist Categories: 3
Number of Wholesaler Categories: 13
Number of Dentist Categories: 3
Number of Space Categories: 3
Number of Farm Categories: 4
Number of Wear Categories: 3
Number of Preschool Categories: 2
Number of Vehicles Categories: 2
Number of Trainer Categories: 3
Number of Organizations Categories: 6
Number of Institute Categories: 2
Number of Room Categories: 3
Number of Consultants Categories: 2
Number of Businesses Categories: 2
Number of Testing Categories: 2
Number of Massage Categories: 2
Number of Planning Categories: 3
Number of Fair Categories: 2
Number of Counselor Categories: 2
Number of Market Categories: 7
Number of Department Categories: 3
Number of Contractors Categories: 2
Number of Florist Categories: 2
Number of Food Categories: 3
Number of Exporter Categories: 2
Number of Foods Categories: 2
Number of Manufacturers Categories: 2
Number of Publisher Categories: 2
Number of Track Categories: 2
Number of Course Categories: 2
Number of Instructor Categories: 3
Number of Removal Categories: 3
Number of Coach Categories: 3
Number of Arena Categories: 2
Number of Companies Categories: 2
Number of Decor Categories: 2
Number of Home Categories: 2
Number of Boarding Categories: 2
Number of Sitting Categories: 2
Number of Gardening Categories: 2
Number of Rink Categories: 3
Number of Landscaping Categories: 2
Number of Specialist Categories: 2
Number of Pub Categories: 2
Number of Goods Categories: 2
Number of Media Categories: 2
Number of Therapy Categories: 3
Number of Development Categories: 3
Number of Metals Categories: 2
Number of Venue Categories: 3
Number of Association Categories: 4
Number of Mill Categories: 3
Number of Zoo Categories: 2
Number of Piercing Categories: 2
Number of Plaza Categories: 2
Number of Billiards Categories: 2
Number of Washing Categories: 2
Number of Psychologist Categories: 2
Number of Resort Categories: 2
Number of Instruction Categories: 2
Number of Therapist Categories: 2
Number of Agents Categories: 2

,LSOA11CD,all_service,all_clinic,abuse_and_addiction_treatment,all_accommodation,accountant,all_consultant,active_life,acupuncture,all_center,...,waxing,welders,well_drilling,wholesale_grocer,wildlife_control,wildlife_sanctuary,wills_trusts_and_probate,winery,wood_and_pulp,None
0,E01000001,12.0,0.0,0.0,2.0,1.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,E01000002,21.0,0.0,0.0,1.0,5.0,4.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,E01000003,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,E01000005,26.0,0.0,0.0,1.0,2.0,2.0,2.0,1.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,E01000006,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [348]:
#Remove all categories that have less than five in London (arbitrary cutoff for now)

column_sums = condensed_categories.iloc[:, 1:].sum()
columns_to_drop = column_sums[column_sums < 5].index.tolist()
print(columns_to_drop)

condensed_categories = condensed_categories.drop(columns=columns_to_drop)

#Store new categories
condensed_category_columns = condensed_categories.columns[1:]

condensed_categories.head()

['aesthetician', 'agricultural_cooperatives', 'allergist', 'anesthesiologist', 'apiaries_and_beekeepers', 'artificial_turf', 'ayurveda', 'b2b_machinery_and_tools', 'all_area', 'batting_cage', 'bicycle_sharing_location', 'bistro', 'business_financing', 'cabaret', 'car_auction', 'car_sharing', 'castle', 'chambers_of_commerce', 'coffee_roastery', 'community_gardens', 'convents_and_monasteries', 'customized_merchandise', 'drive_in_theater', 'empanadas', 'feng_shui', 'festival', 'fidelity_and_surety_bonds', 'firewood', 'forest', 'fort', 'gemstone_and_mineral', 'gents_tailor', 'glass_blowing', 'greengrocer', 'greenhouses', 'heliports', 'hydrotherapy', 'all_specialist', 'inn', 'irrigation', 'island', 'knife_sharpening', 'light_rail_and_subway_stations', 'macarons', 'marching_band', 'metal_materials_and_experts', 'mills', 'mission', 'mountain_bike_parks', 'mountain_bike_trails', 'office_of_vital_records', 'oncologist', 'orthotics', 'outdoor_movies', 'package_locker', 'pediatric_cardiology', 'periodontist', 'personal_shopper', 'pet_adoption', 'plastic_injection_molding_workshop', 'poke', 'props', 'prosthetics', 'public_adjuster', 'public_bath_houses', 'public_restrooms', 'public_toilet', 'quarries', 'religious_items', 'rest_areas', 'rheumatologist', 'roadside_assistance', 'rodeo', 'ruin', 'sauna', 'street_vendor', 'striptease_dancer', 'sugaring', 'supernatural_reading', 'surfing', 'tabletop_games', 'tanning_bed', 'taxi_rank', 'taxidermist', 'tower', 'trivia_host', 'tui_na', 'vehicle_shipping', 'vehicle_wrap', 'water_delivery', 'welders', 'well_drilling', 'wildlife_control', 'wood_and_pulp', 'None']

,LSOA11CD,all_service,all_clinic,abuse_and_addiction_treatment,all_accommodation,accountant,all_consultant,active_life,acupuncture,all_center,...,veterinarian,videographer,vitamins_and_supplements,warehouses,waterproofing,waxing,wholesale_grocer,wildlife_sanctuary,wills_trusts_and_probate,winery
0,E01000001,12.0,0.0,0.0,2.0,1.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,E01000002,21.0,0.0,0.0,1.0,5.0,4.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,E01000003,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,E01000005,26.0,0.0,0.0,1.0,2.0,2.0,2.0,1.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,E01000006,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [353]:
# Join Condensed Version with data (Same Logic as in EarlyModels.ipynb and above)

all_data_cleaned = pd.merge(data_with_geom, condensed_categories, on='LSOA11CD')

all_data_cleaned.head()

,LSOA11CD,LSOA11NM_x,population,Area,"01 : Crop and animal production, hunting and related service activities",02 : Forestry and logging,03 : Fishing and aquaculture,05 : Mining of coal and lignite,06 : Extraction of crude petroleum and natural gas,07 : Mining of metal ores,...,veterinarian,videographer,vitamins_and_supplements,warehouses,waterproofing,waxing,wholesale_grocer,wildlife_sanctuary,wills_trusts_and_probate,winery
0,E01000001,City of London 001A,1465,lsoa2011:E01000001 : City of London 001A,0,0,0,0,10,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,E01000002,City of London 001B,1436,lsoa2011:E01000002 : City of London 001B,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,E01000003,City of London 001C,1346,lsoa2011:E01000003 : City of London 001C,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,E01000005,City of London 001E,985,lsoa2011:E01000005 : City of London 001E,0,10,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,E01000006,Barking and Dagenham 016A,1703,lsoa2011:E01000006 : Barking and Dagenham 016A,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Test Model with Collapsed and Quality/Occurrence Cleaned Categories

In [356]:

# Create training and testing data
features = ['num_buildings', 'num_places', 'population'] + list(geo_features) + list(condensed_category_columns)
target = 'total_employment'

# Split the dataset - 80/20 train test
X_train, X_test, y_train, y_test = train_test_split(all_data_cleaned[features], all_data_cleaned[target], test_size=0.2, random_state=42)

# Save results and fit
automl = AutoML(results_path="automl_results_v2/raw_employment_category_cleaned/", mode='Explain')
# fit the model
automl.fit(X_train, y_train)

predictions = automl.predict(X_test)
r2 = r2_score(y_test, predictions)
print(f'R^2 Score: {r2}')

AutoML directory: automl_results_v2/raw_employment_category_cleaned/
The task is regression with evaluation metric rmse
AutoML will use algorithms: ['Baseline', 'Linear', 'Decision Tree', 'Random Forest', 'Xgboost', 'Neural Network']
AutoML will ensemble available models
AutoML steps: ['simple_algorithms', 'default_algorithms', 'ensemble']
* Step simple_algorithms will try to check up to 3 models
1_Baseline rmse 5958.176481 trained in 0.5 seconds

/Users/gavinrolls/anaconda3/envs/urbsim/lib/python3.11/site-packages/supervised/utils/shap.py:38: UserWarning: Disable SHAP explanations because of number of columns > 500.

2_DecisionTree rmse 3357.793562 trained in 8.98 seconds

/Users/gavinrolls/anaconda3/envs/urbsim/lib/python3.11/site-packages/supervised/utils/shap.py:38: UserWarning: Disable SHAP explanations because of number of columns > 500.

3_Linear rmse 2.641882514651131e+22 trained in 4.53 seconds
* Step default_algorithms will try to check up to 3 models

/Users/gavinrolls/anaconda3/envs/urbsim/lib/python3.11/site-packages/supervised/utils/shap.py:38: UserWarning: Disable SHAP explanations because of number of columns > 500.

4_Default_Xgboost rmse 2882.772908 trained in 9.12 seconds
5_Default_NeuralNetwork rmse 4265.522431 trained in 5.83 seconds

/Users/gavinrolls/anaconda3/envs/urbsim/lib/python3.11/site-packages/supervised/utils/shap.py:38: UserWarning: Disable SHAP explanations because of number of columns > 500.

6_Default_RandomForest rmse 4272.31376 trained in 14.53 seconds
* Step ensemble will try to check up to 1 model
Ensemble rmse 2873.412109 trained in 0.07 seconds
AutoML fit time: 46.11 seconds
AutoML best model: Ensemble
R^2 Score: 0.65287891862071

## Target Employment Density

In [358]:
# Create a new column Employment Density and create new model to target that
all_data_cleaned['employment_density'] = all_data_cleaned['total_employment'] / (all_data_cleaned['geometry']).to_crs("EPSG:27700").area

In [361]:

# Create training and testing data
features = ['num_buildings', 'num_places', 'population'] + list(geo_features) + list(condensed_category_columns)
target = 'employment_density'

# Split the dataset - 80/20 train test
X_train, X_test, y_train, y_test = train_test_split(all_data_cleaned[features], all_data_cleaned[target], test_size=0.2, random_state=42)

# Save results and fit
automl = AutoML(results_path="automl_results_v2/employment_density_category_cleaned/", mode='Explain')
# fit the model
automl.fit(X_train, y_train)

predictions = automl.predict(X_test)
r2 = r2_score(y_test, predictions)
print(f'R^2 Score: {r2}')

AutoML directory: automl_results_v2/employment_density_category_cleaned/
The task is regression with evaluation metric rmse
AutoML will use algorithms: ['Baseline', 'Linear', 'Decision Tree', 'Random Forest', 'Xgboost', 'Neural Network']
AutoML will ensemble available models
AutoML steps: ['simple_algorithms', 'default_algorithms', 'ensemble']
* Step simple_algorithms will try to check up to 3 models
1_Baseline rmse 0.015773 trained in 0.57 seconds

/Users/gavinrolls/anaconda3/envs/urbsim/lib/python3.11/site-packages/supervised/utils/shap.py:38: UserWarning: Disable SHAP explanations because of number of columns > 500.

2_DecisionTree rmse 0.01103 trained in 5.08 seconds

/Users/gavinrolls/anaconda3/envs/urbsim/lib/python3.11/site-packages/supervised/utils/shap.py:38: UserWarning: Disable SHAP explanations because of number of columns > 500.

3_Linear rmse 0.010297 trained in 4.19 seconds
* Step default_algorithms will try to check up to 3 models

/Users/gavinrolls/anaconda3/envs/urbsim/lib/python3.11/site-packages/supervised/utils/shap.py:38: UserWarning: Disable SHAP explanations because of number of columns > 500.

4_Default_Xgboost rmse 0.0078 trained in 9.18 seconds
5_Default_NeuralNetwork rmse 0.014297 trained in 5.8 seconds

/Users/gavinrolls/anaconda3/envs/urbsim/lib/python3.11/site-packages/supervised/utils/shap.py:38: UserWarning: Disable SHAP explanations because of number of columns > 500.

6_Default_RandomForest rmse 0.008495 trained in 8.9 seconds
* Step ensemble will try to check up to 1 model
Ensemble rmse 0.007308 trained in 0.07 seconds
AutoML fit time: 36.34 seconds
AutoML best model: Ensemble
R^2 Score: 0.611789894148709

## Target Office Worker Employment Density

In [369]:
# Use office work cols from previous analysis

office_work_cols = [
    '42 : Civil engineering',
    '58 : Publishing activities',
    '59 : Motion picture, video and television programme production, sound recording and music publishing activities',
    '60 : Programming and broadcasting activities',
    '61 : Telecommunications',
    '62 : Computer programming, consultancy and related activities',
    '63 : Information service activities',
    '64 : Financial service activities, except insurance and pension funding',
    '65 : Insurance, reinsurance and pension funding, except compulsory social security',
    '66 : Activities auxiliary to financial services and insurance activities',
    '68 : Real estate activities',
    '69 : Legal and accounting activities',
    '70 : Activities of head offices; management consultancy activities',
    '71 : Architectural and engineering activities; technical testing and analysis',
    '72 : Scientific research and development',
    '73 : Advertising and market research',
    '74 : Other professional, scientific and technical activities',
    '77 : Rental and leasing activities',
    '78 : Employment activities',
    '79 : Travel agency, tour operator and other reservation service and related activities',
    '80 : Security and investigation activities',
    '82 : Office administrative, office support and other business support activities',
    '84 : Public administration and defence; compulsory social security'
]

# Create a new Office Work Total Column :
all_data_cleaned['office_total_employment'] = all_data_cleaned[office_work_cols].sum(axis=1)

# And an Office Work Density Column
all_data_cleaned['office_employment_density'] = all_data_cleaned['office_total_employment'] / (all_data_cleaned['geometry']).to_crs("EPSG:27700").area

all_data_cleaned.head()

,LSOA11CD,LSOA11NM_x,population,Area,"01 : Crop and animal production, hunting and related service activities",02 : Forestry and logging,03 : Fishing and aquaculture,05 : Mining of coal and lignite,06 : Extraction of crude petroleum and natural gas,07 : Mining of metal ores,...,warehouses,waterproofing,waxing,wholesale_grocer,wildlife_sanctuary,wills_trusts_and_probate,winery,employment_density,office_total_employment,office_employment_density
0,E01000001,City of London 001A,1465,lsoa2011:E01000001 : City of London 001A,0,0,0,0,10,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.107710,10800,0.081008
1,E01000002,City of London 001B,1436,lsoa2011:E01000002 : City of London 001B,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.201621,39550,0.174852
2,E01000003,City of London 001C,1346,lsoa2011:E01000003 : City of London 001C,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.013263,425,0.007417
3,E01000005,City of London 001E,985,lsoa2011:E01000005 : City of London 001E,0,10,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.119194,18070,0.094737
4,E01000006,Barking and Dagenham 016A,1703,lsoa2011:E01000006 : Barking and Dagenham 016A,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000728,5,0.000035

In [371]:
# Run the model

# Create training and testing data
features = ['num_buildings', 'num_places', 'population'] + list(geo_features) + list(condensed_category_columns)
target = 'office_employment_density'

# Split the dataset - 80/20 train test
X_train, X_test, y_train, y_test = train_test_split(all_data_cleaned[features], all_data_cleaned[target], test_size=0.2, random_state=42)

# Save results and fit
automl = AutoML(results_path="automl_results_v2/office_employment_density_category_cleaned/", mode='Explain')
# fit the model
automl.fit(X_train, y_train)

predictions = automl.predict(X_test)
r2 = r2_score(y_test, predictions)
print(f'R^2 Score: {r2}')

AutoML directory: automl_results_v2/office_employment_density_category_cleaned/
The task is regression with evaluation metric rmse
AutoML will use algorithms: ['Baseline', 'Linear', 'Decision Tree', 'Random Forest', 'Xgboost', 'Neural Network']
AutoML will ensemble available models
AutoML steps: ['simple_algorithms', 'default_algorithms', 'ensemble']
* Step simple_algorithms will try to check up to 3 models
1_Baseline rmse 0.010701 trained in 0.58 seconds

/Users/gavinrolls/anaconda3/envs/urbsim/lib/python3.11/site-packages/supervised/utils/shap.py:38: UserWarning: Disable SHAP explanations because of number of columns > 500.

2_DecisionTree rmse 0.007485 trained in 8.09 seconds

/Users/gavinrolls/anaconda3/envs/urbsim/lib/python3.11/site-packages/supervised/utils/shap.py:38: UserWarning: Disable SHAP explanations because of number of columns > 500.

3_Linear rmse 0.006555 trained in 4.29 seconds
* Step default_algorithms will try to check up to 3 models

/Users/gavinrolls/anaconda3/envs/urbsim/lib/python3.11/site-packages/supervised/utils/shap.py:38: UserWarning: Disable SHAP explanations because of number of columns > 500.

4_Default_Xgboost rmse 0.00573 trained in 8.94 seconds
5_Default_NeuralNetwork rmse 0.008492 trained in 6.18 seconds

/Users/gavinrolls/anaconda3/envs/urbsim/lib/python3.11/site-packages/supervised/utils/shap.py:38: UserWarning: Disable SHAP explanations because of number of columns > 500.

6_Default_RandomForest rmse 0.005506 trained in 8.32 seconds
* Step ensemble will try to check up to 1 model
Ensemble rmse 0.004991 trained in 0.07 seconds
AutoML fit time: 39.07 seconds
AutoML best model: Ensemble
R^2 Score: 0.578823959882245